{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
                What update do you have for this referral?
              </h1>
            </legend>
            <div id="event-name-hint" class="govuk-hint">
            Select the activity to progress the referral.
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-1" name="status" type="radio" value="initial-claimant-contact">
              <label class="govuk-label govuk-radios__label" for="status-1">
                Initial claimant contact needed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-2" name="status" type="radio" value="awaiting-questionnaire">
              <label class="govuk-label govuk-radios__label" for="status-2">
                Awaiting  questionnaire
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-3" name="status" type="radio" value="case-manager-review">
              <label class="govuk-label govuk-radios__label" for="status-3">
                Case manager review
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-4" name="status" type="radio" value="case-action-required">
              <label class="govuk-label govuk-radios__label" for="status-4">
                Case action required
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-5" name="status" type="radio" value="failed-to-return-questionnaire">
              <label class="govuk-label govuk-radios__label" for="status-5">
                Failed to return questionnaire
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-6" name="status" type="radio" value="further-medical-evidence">
              <label class="govuk-label govuk-radios__label" for="status-6">
                Awaiting further medical evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-7" name="status" type="radio" value="claimant-evidence">
              <label class="govuk-label govuk-radios__label" for="status-7">
                Awaiting claimant evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-8" name="status" type="radio" value="third-party-evidence">
              <label class="govuk-label govuk-radios__label" for="status-8">
                Awaiting third party evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-9" name="status" type="radio" value="paper-based-review">
              <label class="govuk-label govuk-radios__label" for="status-9">
                Paper based review
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-10" name="status" type="radio" value="book-assessment">
              <label class="govuk-label govuk-radios__label" for="status-10">
                Book assessment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-12" name="status" type="radio" value="assessment-booked">
              <label class="govuk-label govuk-radios__label" for="status-12">
                Assessment booked
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-13" name="status" type="radio" value="assessment-completed">
              <label class="govuk-label govuk-radios__label" for="status-13">
                Assessment completed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-14" name="status" type="radio" value="failed-to-attend">
              <label class="govuk-label govuk-radios__label" for="status-14">
                Failed to attend
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-15" name="status" type="radio" value="smmary-decision">
              <label class="govuk-label govuk-radios__label" for="status-15">
                Summary decision
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-16" name="status" type="radio" value="awaiting-decision">
              <label class="govuk-label govuk-radios__label" for="status-16">
                Awaiting decision
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-17" name="status" type="radio" value="pipcs-approval">
              <label class="govuk-label govuk-radios__label" for="status-17">
                PIPCS approval
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-18" name="status" type="radio" value="create-decision-letter">
              <label class="govuk-label govuk-radios__label" for="status-18">
                Create decision letter
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-19" name="status" type="radio" value="communicate-decision">
              <label class="govuk-label govuk-radios__label" for="status-19">
                Communicate decision
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-20" name="status" type="radio" value="done">
              <label class="govuk-label govuk-radios__label" for="status-20">
                Done
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-21" name="status" type="radio" value="withdrawn">
              <label class="govuk-label govuk-radios__label" for="status-21">
                Withdrawn
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-22" name="status" type="radio" value="created-in-error">
              <label class="govuk-label govuk-radios__label" for="status-22">
                Created in error
              </label>
            </div>

          </fieldset>
        </div>

        <a href="confirmation" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Save and continue
        </a>

    </div>
  </div>


{% endblock %}
