{% extends "layout-extended.html" %}

{% block pageTitle %}
Find address - Health Assessment Service
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
     <h1 class="govuk-heading-l">
    Confirm address
      </h1>

      <p>5 addresses found for <span class="govuk-body govuk-!-font-weight-bold">southland street</span> and <span class="govuk-body govuk-!-font-weight-bold">wr67tp</span>.    <a href="medical-find-address" style="padding-left: 20px;">Search again</a></p>
      
      <div class="govuk-inset-text">
        1 Southland Street<br>Worcester<br>WR6 7TP  </div>

  
  
    





    

        <a href="../pip-case-details-updated"> 
        <button class="govuk-button" data-module="govuk-button">
        Use this address
        </button>
      </a>

    <p> <a href="medical-find-address-select" aria-describedby="search-referral">
       
      Use a different address
     
   </a> <br>
   
   <a href="medical-address-manual-entry" aria-describedby="search-referral">
       
         Enter address manually
        
      </a></p>

    </div>
  </div>

{% endblock %}
