{% extends "layout-extended.html" %}

{% block pageTitle %}
Specialist or medical contacts - Health Assesssment Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!-- <span class="govuk-caption-l govuk-!-margin-bottom-2">Create referral question 9 of X</span> -->
      


     <h1 class="govuk-heading-l">
      Are you sure want to remove this specialist or medical contact?
   </h1>

   <div class="govuk-form-group">
     <fieldset class="govuk-fieldset" role="group" aria-describedby="claimant-names">
      

      <div class="govuk-inset-text">
        <p>	Consultant Rheumatologist<br>Mr B Test</p> </div>

     
 
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="important-special-rules-yes" name="important-special-rules" type="radio" value="yes" checked>
              <label class="govuk-label govuk-radios__label" for="important-special-rules-yes" >
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="important-special-rules-no" name="important-special-rules" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="important-special-rules-no">
                No
              </label>
            </div>

          

        </fieldset>
      </div>


       </fieldset>
   


      

      <a href="../pip-case-details-updated" aria-describedby="search-referral">  <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
