{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" role="group" aria-describedby="assessment-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What is the date of the assessment?
          </h1>
        </legend>
        <div id="assessment-hint" class="govuk-hint">
          For example, 27 3 2022
        </div>
        <div class="govuk-date-input" id="assessment">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="assessment-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="assessment-day" name="assessment-day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="assessment-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="assessment-month" name="assessment-month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="assessment-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="assessment-year" name="assessment-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>

      </fieldset>
      <a href="confirmation" aria-describedby="update-status">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
