{% extends "richer-claimant-info/v4/nav/create-referral-layout-home.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}




{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Referral created
                </h1>
                
              </div>
      
            
              <h2 class="govuk-heading-m">Choose what to do next</h2>
      
              <p class="govuk-body">
                <a href="personal-details">Continue entering information for this referral</a>
                </p>
                
              <p class="govuk-body">
          or <a href="create-referral"> create another referral </a>
              </p>
            
      
            
            </div>
          </div>
        </main>
      </div>

{% endblock %}
