{% extends "layout.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}

</style>

<div class="app-pane__body">

<div class="app-pane__subnav">
  <nav class="app-subnav" aria-labelledby="app-subnav-heading">
    <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claims">Claims</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claimant-details">Claimant details</a>
      </li>
      <li class="app-subnav__section-item app-subnav__section-item--current">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claimant-timeline">Timeline</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Appointments</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Evidence</a>
      </li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row overview">
    <div class="govuk-grid-column-full">

      <section class="new-key-details-bar" role="identifier" aria-label="Claimant name and identifier">
        <dl class="new-key-details-bar__key-details">
          <div class="new-key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="new-key-details-bar__name">Jane Doe</dd>
      
            <dt class="govuk-visually-hidden">National Insurance number:</dt>
            <dd class="new-key-details-bar__nino">RN 00 04 26 D</dd>
      
          </div>
      
          <div class="new-key-details-bar__bottom-block">
            <dt class="govuk-visually-hidden">Claimant markers:</dt>
            <dd>
              <strong class="govuk-tag govuk-tag--red">End of life</strong>
              <!-- <strong class="govuk-tag govuk-tag--yellow">Additional support</strong> -->
              <strong class="govuk-tag govuk-tag--green">Appointee</strong>
              <strong class="govuk-tag govuk-tag--blue">Dual claim</strong>
              <!-- <strong class="govuk-tag govuk-tag--pink">Unacceptable behaviour</strong> -->
              <!-- <strong class="govuk-tag govuk-tag--red">Deceased</strong> -->
            </dd>
          </div>
        </dl>
      </section>

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-m govuk-!-margin-top-6">Timeline</h1>
          <ol class="dwp-timeline">
            <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ESA Face to face assessment booked</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Booked by Angela Tait</p>
                <p class="govuk-caption-m">
                    25 January 2022
                </p>
            </li>
            <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Returned questionnaire</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Post from claimant</p>
                <p class="govuk-caption-m">
                    23 January 2022
                </p>
            </li>
            <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Reminded them to return questionnaire</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Phonecall to claimant by Phil Smith</p>
                <p class="govuk-caption-m">
                    20 January 2022
                </p>
            </li>
              <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Sent questionnaire</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Posted to claimant by Phil Smith</p>
                <p class="govuk-caption-m">
                    6 January 2022
                </p>
              </li>
          </ol>
        </div>

        <div class="govuk-grid-column-one-third">
            
          <h3 class="govuk-heading-m govuk-!-margin-top-8">What you can do next</h3>
          <ul class="govuk-list">
            <li class="govuk-!-margin-bottom-2"><a href="referral">Add new entry</a></li>
            <li><a href="#">Edit an entry</a></li>
          </ul>
        </div>
                
    </div>
  </div>
</div>
{% endblock %}
