{% extends "layout-extended.html" %}

{% block pageTitle %}
Contact preferences - Health Assesssment Service
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Support and communication
      </h1>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Reasonable adjustments
            </h2>
          </legend>
          <div id="adjustment-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment" name="adjustment" type="checkbox" value="bsl" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment">
                British Sign Language interpreter
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment" name="adjustment" type="checkbox" value="car" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment">
                Car parking facilities
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment" name="adjustment" type="checkbox" value="location">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment">
                Changing location of interview
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment" name="adjustment" type="checkbox" value="home" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment">
                Home visits (in exceptional circumstances)
              </label>
            </div>



            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment-2" name="adjustment" type="checkbox" value="hearing loop" checked>
              <label class="govuk-label govuk-checkboxes__label" for="adjustment-2">
                Hearing or Induction loop systems
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment-3" name="adjustment" type="checkbox" value="private">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment-3">
                Private interview rooms, a quiet space or changing the time and date of meetings and interviews
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment-3" name="adjustment" type="checkbox" value="represent">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment-3">
                Representatives and intermediaries </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment-3" name="adjustment" type="checkbox" value="textphone" checked>
              <label class="govuk-label govuk-checkboxes__label" for="adjustment-3">
                Textphone and texbox</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment-3" name="adjustment" type="checkbox" value="toilet">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment-3">
                Toilet access for claimants </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment-3" name="adjustment" type="checkbox" value="transport">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment-3">
                Transport – Public and private </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
             Alternative formats
            </h2>
          </legend>
          <div id="format-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="format-1" name="format" type="checkbox" value="braille">
              <label class="govuk-label govuk-checkboxes__label" for="format">
               Braille
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="format-2" name="format" type="checkbox" value="sign-language">
              <label class="govuk-label govuk-checkboxes__label" for="format">
              Sign language
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="format-3" name="format" type="checkbox" value="audio">
              <label class="govuk-label govuk-checkboxes__label" for="format">
              Audio
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="format-4" name="format" type="checkbox" value="coloured-paper">
              <label class="govuk-label govuk-checkboxes__label" for="format">
            Coloured paper
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="format-5" name="format" type="checkbox" value="large-print">
              <label class="govuk-label govuk-checkboxes__label" for="format">
               Large print
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="format-6" name="format" type="checkbox" value="pdf">
              <label class="govuk-label govuk-checkboxes__label" for="format">
             Accesible PDF
              </label>
            </div>



            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="format-7" name="format" type="checkbox" value="other" data-aria-controls="conditional-format-7">
              <label class="govuk-label govuk-checkboxes__label" for="format-7">
                Other
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-format-7">
              <div class="govuk-form-group">
                <label class="govuk-label" for="other">
                 Please specify
                </label>
               
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
              </div>  </div>
          </div>
      
        </fieldset>
      </div>


      


      <a href="reasonable-support-more-detail" aria-describedby="search-referral">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
