{% extends "layout-extended.html" %}

{% block pageTitle %}
  Consent - Health Assesssment Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!-- <span class="govuk-caption-l govuk-!-margin-bottom-2">Create referral question 9 of X</span> -->



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">
            Does the claimant give consent to contact their GP?
          </h1>
          <h1 class="govuk-heading-m">

        </h1>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="GP-consent-yes" name="GP-consent" type="radio" value="yes" checked>
              <label class="govuk-label govuk-radios__label" for="GP-consent-yes" >
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="GP-consent-no" name="GP-consent" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="GP-consent-no">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="GP-consent-unknown" name="GP-consent" type="radio" value="unknown">
              <label class="govuk-label govuk-radios__label" for="GP-consent-unknown">
                Not known
              </label>
            </div>

        </fieldset>
      </div>



      <a href="../claimant-detail-assigned2-updated" aria-describedby="search-referral">  <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
