{% extends "layout-extended.html" %}

{% block pageTitle %}
  Find address - Health Assessment Service
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     <h1 class="govuk-heading-l">
     Find address
      </h1>


    <div class="govuk-form-group">
      <label class="govuk-label" for="address-town">
        Postcode
      </label>

      <div class="govuk-hint">
        For example, AA3 1AB
      </div>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2" >
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
       Address line 1
      </label>
      <div class="govuk-hint">
        For example, '15 North Road' or 'Prospect Cottage'.
      </div>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>










      <a href="medical-find-address-select" aria-describedby="search-referral">
        <button class="govuk-button" data-module="govuk-button">
         Find address
        </button>
      </a>

    <p> <a href="medical-address-manual-entry" aria-describedby="search-referral">

         Enter address manually

      </a></p>

    </div>
  </div>

{% endblock %}
