{% extends "layout-key-details-assigned-extended.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-right-9">


      <h2 class="govuk-heading-m">Case details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Consent to contact GP
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral date
          </dt>
          <dd class="govuk-summary-list__value">
            2 February 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            Universal Credit
          </dd>
        </div>








          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case type
            </dt>
            <dd class="govuk-summary-list__value">
              New referral
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assessment centre
            </dt>
            <dd class="govuk-summary-list__value">
              Tresco House
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case manager
            </dt>
            <dd class="govuk-summary-list__value">
              Unassigned
            </dd>
          </div>
        </dl>



        <p style="margin-top:-45px;">  <a class="govuk-link" href="change-sections/referral-consent">
          Change
           </a></p>


      <h2 class="govuk-heading-m">Important information</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">

          
          <dt class="govuk-summary-list__key">
            Special rules end of life
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of death
          </dt>
          <dd class="govuk-summary-list__value">
            22 February 2022
          </dd>
          
        </div>
        
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Special rules end of life aware
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unacceptable behaviour
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

        </div>
      <!--This is for UC only -->
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mental health condition
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

        </div>
      </dl>

      <p style="margin-top:-45px;">  <a class="govuk-link" href="change-sections/important">
        Change
         </a></p>





        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred name
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              31 December 1969
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Residential address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Test Street<br/>Test City<br/>XX11 1XX
            </dd>

          </div>
        <!--  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              23 Other Avenue<br/>Other City<br/>XX22 2XX
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home phone number
            </dt>
            <dd class="govuk-summary-list__value">
             0121 423478
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07900 910001
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Textphone number
            </dt>
            <dd class="govuk-summary-list__value">
              07721 321002
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.email@example.com
            </dd>

          </div>
         
          </dl>

          <p style="margin-top:-45px;">  <a class="govuk-link" href="change-sections/referral-personal-details">
            Change
             </a></p>

          <h2 class="govuk-heading-m">Contact preferences</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reasonable adjustments
              </dt>
              <dd class="govuk-summary-list__value">
                Hearing or Induction loop systems
              <br>
              Textphone and texbox
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative formats
              </dt>
              <dd class="govuk-summary-list__value">

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                HCP preference
              </dt>
              <dd class="govuk-summary-list__value">

              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred contact method
              </dt>
              <dd class="govuk-summary-list__value">
                Email
              </dd>

            </div>
            </dl>
            <p style="margin-top:-45px;">  <a class="govuk-link" href="change-sections/contact-preferences">
              Change
               </a></p>

        <h2 class="govuk-heading-m">Representation and support</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Representation
            </dt>
            <dd class="govuk-summary-list__value">
              Corporate Acting Body
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              Age UK
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact name
            </dt>
            <dd class="govuk-summary-list__value">
              Janette Rafe
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              10 Test Street<br/>Test City<br/>XX12 1XX
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07000 000000
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.email@example.com
            </dd>

          </div>
        </dl>
        <p style="margin-top:-45px;">  <a class="govuk-link" href="change-sections/representation-support">
          Change
           </a></p>

        <h2 class="govuk-heading-m">GP details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Named GP
            </dt>
            <dd class="govuk-summary-list__value">
              Dr T Test
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Test Surgery<br/>Test City<br/>XX11 1XX
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              09000 000000
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.surgery@example.com
            </dd>

          </div>
        </dl>
        <p style="margin-top:-45px;">  <a class="govuk-link" href="change-sections/gp-details">
          Change
           </a></p>

        <h2 class="govuk-heading-m">Other specialist or medical contacts</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Profession
            </dt>
            <dd class="govuk-summary-list__value">
              Consultant Rheumatologist
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Mr B Test
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Test Hospital<br/>Test City<br/>XX11 1XX
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              09000 000000
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.surgery@example.com
            </dd>

          </div>
        </dl>
        <p style="margin-top:-45px;">  <a class="govuk-link" href="change-sections/medical-specialist">
          Change
           </a></p>



        <!--
      <h1 class="govuk-heading-m">Personal details</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred name
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07799 000000
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="update-number">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            N2 1XX
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Referral details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral date
          </dt>
          <dd class="govuk-summary-list__value">
            2 February 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End of life
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            UC
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral type
          </dt>
          <dd class="govuk-summary-list__value">
            New referral
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment centre
          </dt>
          <dd class="govuk-summary-list__value">
            Tresco House
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case manager
          </dt>
          <dd class="govuk-summary-list__value">
            Zoe Hall
          </dd>
        </div>
      </dl> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">

        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="update-status-wca">Update status</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/">View timeline</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/referral">Add entry to timeline</a>
            </li>
            <li>
              <a href="https://supporting-documents-service.herokuapp.com/v4/full-mvp/claimant-documents-buttons">View claimant documents</a>
            </li>
            <!-- <li>
              <a href="https://hummingbird-appointment-proto.herokuapp.com/2_location">Book, view, amend assessment</a>
            </li> -->
            <li>
              <a href="assign-list-review">Move to another caseload</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
