{% extends "layout-assessmentbooked-extended.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">  
   

     <br>
    <div class="govuk-panel govuk-panel--confirmation" id="confirmation-panel" data-gtm-vis-recent-on-screen93309271_880="1689" data-gtm-vis-first-on-screen93309271_880="1689" data-gtm-vis-total-visible-time93309271_880="100" data-gtm-vis-has-fired93309271_880="1">
      <h1 class="govuk-panel__title">
        Assessment cancelled
      </h1>




      
    </div>


    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Update referral status for this claimant
      </strong>
    </div>




    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Assessment centre
        </dt>
        <dd class="govuk-summary-list__value">
          Tresco House, 4th Floor, 65 Lisson Grove, London, NW1 6UT
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>
  

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit
        </dt>
        <dd class="govuk-summary-list__value">
          PIP
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appointment type
        </dt>
        <dd class="govuk-summary-list__value">
        
        
         
      Face to face
        
         
         

          
        </dd>
     
        <dd class="govuk-summary-list__actions">
         
        </dd> 

      </div>
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time
        </dt>
        <dd class="govuk-summary-list__value">
          Mon 18 December 2023, 11am
        </dd>
     
        <dd class="govuk-summary-list__actions">
         
        </dd> 
      </div>


    

    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          HCP
        </dt>
        <dd class="govuk-summary-list__value">
         
        
        
          Ana Lopes
        
          
        </dd>
      

     <dd class="govuk-summary-list__actions">
         
        </dd> 
      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional information
        </dt>
        <dd class="govuk-summary-list__value">
          

         None
        

        </dd>
    <dd class="govuk-summary-list__actions">
          
        </dd> 
      </div>
      
    </dl>

<a href="../../../richer-claimant-info">  
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Update referral status
    </button>

  </a>




    </div>
  </main>
</div>


{% endblock %}
