{% extends "layout-key-details-assigned-extended.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="list-4" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-right-9">

      <h1 class="govuk-heading-m">Personal details</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred name
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07799 997799
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="update-number">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            N2 1XX
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Referral details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral date
          </dt>
          <dd class="govuk-summary-list__value">
            2 February 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End of life
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            UC
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral type
          </dt>
          <dd class="govuk-summary-list__value">
            New referral
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment centre
          </dt>
          <dd class="govuk-summary-list__value">
            Tresco House
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case manager
          </dt>
          <dd class="govuk-summary-list__value">
            Zoe Hall
          </dd>
        </div>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">

        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="update-status-wca">Update status</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/">View timeline</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/referral">Add entry to timeline</a>
            </li>
            <li>
              <a href="https://supporting-documents-service.herokuapp.com/v4/full-mvp/claimant-documents-buttons">View claimant documents</a>
            </li>
            <!-- <li>
              <a href="https://hummingbird-appointment-proto.herokuapp.com/2_location">Book, view, amend assessment</a>
            </li> -->
            <li>
              <a href="assign-list-review">Move to another caseload</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
