{% extends "layout-extended.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <!-- <div class="govuk-grid-column-full"> -->
      <div class="govuk-grid-column-two-thirds">  

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Status updated for Sam Doe</h1>
      </div>
      
      <br>

      <h3 class="govuk-heading-m">
        What you can do next

      

        <ul class="govuk-list">

        <br>
        <li><a href="pip-case-details.html" aria-describedby="update-status">View details for Sam Doe</a></li>
        <li></li><a href="" aria-describedby="update-status">Add entry to timeline for Sam Doe</a></li>
        <li></li><a href="" aria-describedby="update-status">Go back to referrals in progress</a></li>

      </p>


    </div>
  </div>

{% endblock %}
