{% extends "layout-extended.html" %}

{% block pageTitle %}
Caseload list
{% endblock %}

{% block beforeContent %}
<a href="view-caseload-or-status.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Barry Henderson's caseload
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NI number</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">Referral date</th>
            <th scope="col" class="govuk-table__header">End of life</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Next action due</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
       
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="pip-case-details" aria-describedby="claimant-detail-srti">Sam Doe (select this one)</a></td>
            <td class="govuk-table__cell">RN 00 01 24 B</td>
            <td class="govuk-table__cell">PIP S</td>
            <td class="govuk-table__cell">10 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Assigned</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="overdue">8 days overdue</strong></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-assigned">Fran Cliffe</a></td>
            <td class="govuk-table__cell">RN 22 10 00 E</td>
            <td class="govuk-table__cell">PIP S</td>
            <td class="govuk-table__cell">16 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Assigned</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="overdue">2 days overdue</strong></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-assigned">Kiran Sharma</a></td>
            <td class="govuk-table__cell">RN 21 10 00 T</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">16 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Assigned</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="overdue">2 days overdue</strong></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-assigned">Naga Zawal</a></td>
            <td class="govuk-table__cell">RN 00 10 02 H</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">16 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Assigned</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="overdue">2 days overdue</strong></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-assigned">Mark Smith</a></td>
            <td class="govuk-table__cell">RN 22 10 03 D</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">16 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Assigned</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="overdue">2 days overdue</strong></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-assigned">Xia Jeana</a></td>
            <td class="govuk-table__cell">RN 00 02 99 F</td>
            <td class="govuk-table__cell">PIP S</td>
            <td class="govuk-table__cell">16 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Assigned</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="overdue">2 days overdue</strong></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail">Jaidan Forster</a></td>
            <td class="govuk-table__cell">RN 00 02 66 E</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">17 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Book assessment</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="overdue">1 day overdue</strong></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail">Cherise Kaufman</a></td>
            <td class="govuk-table__cell">RN 00 10 10 R</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">20 April 2022</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Book assessment</td>
            <td class="govuk-table__cell">2 days</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
