{% extends "layout-key-details-assigned-extended.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="pip-case-details.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form class="govuk-form-group" method="post">
     
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
                Select a status
              </h1>
              <div id="event-name-hint" class="govuk-hint">
              </div>
            </legend>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-1" name="status" type="radio" value="assigned-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-1">
                Assigned
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-2" name="status" type="radio" value="hcp-review-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-1">
                Senior HCP advice
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-2" name="status" type="radio" value="hcp-review-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-1">
                HCP review
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-3" name="status" type="radio" value="send-fme-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-2">
                Request medical evidence
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-4" name="status" type="radio" value="awaiting-fme-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-3">
                Awaiting medical evidence
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-5" name="status" type="radio" value="fme-not-received-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-5">
                Medical evidence not received
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-6" name="status" type="radio" value="fme-received-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-4">
                Medical evidence received
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-7" name="status" type="radio" value="book-assessment-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-6">
                Book appointment
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-7" name="status" type="radio" value="book-assessment-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-6">
                Rebook appointment
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-8" name="status" type="radio" value="assessment-booked-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-8">
                Appointment booked
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-9" name="status" type="radio" value="book-pbr-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-7">
                PIP paper based review
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-10" name="status" type="radio" value="fta-pip~/pip-has-integration/v1/interrupt-page">
              <label class="govuk-label govuk-radios__label" for="status-10">
                Failed to attend
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-11" name="status" type="radio" value="report-ready-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-12">
                Report ready
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-12" name="status" type="radio" value="hcp-audit-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-11">
                HCP audit
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-13" name="status" type="radio" value="cancelled-report-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-13">
                Cancelled report
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-14" name="status" type="radio" value="failed-to-comply-pip~/pip-has-integration/v1/interrupt-page">
              <label class="govuk-label govuk-radios__label" for="status-13">
                Failed to comply
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-15" name="status" type="radio" value="done-pip~/pip-has-integration/v1/interrupt-page">
              <label class="govuk-label govuk-radios__label" for="status-14">
                Done
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-16" name="status" type="radio" value="withdrawn-pip~/pip-has-integration/v1/interrupt-page">
              <label class="govuk-label govuk-radios__label" for="status-15">
                Withdrawn
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-17" name="status" type="radio" value="created-in-error-pip~/pip-has-integration/v1/confirmation">
              <label class="govuk-label govuk-radios__label" for="status-16">
                Created in error
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-18" name="status" type="radio" value="dead-pip~/pip-has-integration/v1/interrupt-page">
              <label class="govuk-label govuk-radios__label" for="status-15">
                Dead
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-19" name="status" type="radio" value="return-to-pip-service-pip~/pip-has-integration/v1/interrupt-page">
              <label class="govuk-label govuk-radios__label" for="status-15">
                Return to PIP Service
              </label>
            </div>


</div>
</div>
          </fieldset>
     
     <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</form>
    </div>
  </div>


{% endblock %}
