{% extends "layout-key-details-assigned-extended.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="list-1" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="app-pane__body">

  <div class="app-pane__subnav">
    <nav class="app-subnav" aria-labelledby="app-subnav-heading">
      <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
      <ul class="app-subnav__section">

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
            href="pip-case-details">Referral details <!--<i class="chevron2"></i>--> </a>
        </li>

        <li class="app-subnav__section-item app-subnav__section-item--current">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Claimant
            details <!--<i class="chevron"></i>--> </a>
          <ul class="app-subnav__section app-subnav__section--nested">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#personal">
                Personal details
              </a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#contact">
              Contact information
              </a>
            </li>


          </ul>
        </li>


      </ul>
    </nav>
  </div>

  <div class="govuk-grid-row  overview">



  <div class="govuk-grid-column-two-thirds-from-desktop">

<!-- <h1 class="govuk-heading-l" id="personal">Claimant details</h2> -->

 <h2 class="govuk-heading-m" id="personal">Personal details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preferred name
        </dt>
        <dd class="govuk-summary-list__value">
          Sam
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-singular/personal-pref-name">
            <span class="govuk-visually-hidden"> Preferred name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode
        </dt>
        <dd class="govuk-summary-list__value">
          XYXX XYX
        </dd>
        <dd class="govuk-summary-list__actions">
         <!--  <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Date of birth</span>
          </a>-->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Home phone number
        </dt>
        <dd class="govuk-summary-list__value govuk-!-margin--5">
          0121 423478
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="change-singular/personal-home-no">
            Change<span class="govuk-visually-hidden">Home phone number</span>
          </a></li>

          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="change-singular/personal-home-remove">
            Remove<span class="govuk-visually-hidden"> remove</span>
          </a></li>
  
          </ul>
        </dd>
      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile phone number
        </dt>
        <dd class="govuk-summary-list__value">
          07000 000000
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="change-singular/personal-mob-no">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="change-singular/personal-mobile-remove">
                Remove<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-singular/personal-mob-no">
            Change<span class="govuk-visually-hidden">Mobile phone number</span>
          </a>
        </dd> -->
      </div>



     
  
      </dl>

      <h2 class="govuk-heading-m" id="contact">Contact information</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Interpreter information
          </dt>
          <dd class="govuk-summary-list__value">
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="change-singular/interpreter">
                  Add<span class="govuk-visually-hidden">interpreter</span>
                </a></li>
              
            </ul>
          </dd>
        </div>
        </dl>


         </div>

    <div class="govuk-grid-column-one-third" style="padding-left: 15px; padding-right: 0px;">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="#">Update status</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/">View timeline</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/referral">Add entry to timeline</a>
            </li>

            <li>
              <a href="https://supporting-documents-service.herokuapp.com/v4/full-mvp/claimant-documents-buttons">View claimant documents</a>
            </li>
            <li>
              <a href="#">Move to another caseload</a>
            </li>
            <!--<li>
              <a href="update-status">Update status</a>
            </li>-->
          </ul>
        </nav>
      </aside>

    </div>

  </div>
</div>
{% endblock %}
