{% extends "richer-claimant-info/v4/nav/create-referral-layout-home.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}

<a href="../index" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

<div class="app-pane__body">

  

  <div class="app-pane__subnav-create" >

    <div class="govuk-grid-column-one-fifth" style="position: sticky; top:0;">
      <nav class="moj-side-navigation" aria-label="Side navigation">
    
        <input type="hidden" name="previousDocument" id="previousDocument" value="">

      <!--   <ul class="moj-side-navigation__list">
      
          <li class="moj-side-navigation__item">
      
              <a href="assessment-type" aria-current="location">&lt; Back to Assessment type</a>
      
          </li>
           
          </ul> -->

     
    
    <h4 class="moj-side-navigation__title">Case details</h4>
    <ul class="moj-side-navigation__list">
    
      <li class="moj-side-navigation__item">
    
        <a href="create-referral">Referral details</a>

    </li>

    <li class="moj-side-navigation__item ">

      <a href="important-info">Important information</a>

  </li>

  <li class="moj-side-navigation__item ">
    
    <a href=" " aria-current="location"> GP details</a>

</li>

  <li class="moj-side-navigation__item moj-side-navigation__item--active">

    <a href=" ">Other specialist contacts</a>

</li>

   
</ul>
        <h4 class="moj-side-navigation__title">Claimant details</h4>
        <ul class="moj-side-navigation__list">
       
            <li class="moj-side-navigation__item ">
    
            <a href="personal-details">Personal details</a>
    
        </li>
    
        <li class="moj-side-navigation__item ">
     
          <a href=" " aria-current="location"> Adjustments</a>
  
      </li>


      <li class="moj-side-navigation__item ">
  
       <a href=" " aria-current="location"> Preferences</a>

   </li>


        <li class="moj-side-navigation__item ">
    
          <a href=" " aria-current="location"> Representation and support</a>
  
      </li>

    
         
        </ul>
  
  
  
       
           
         
         </ul>
  
  
  

       
          <a href="confirmation-page"> 
            <button class="govuk-button" data-module="govuk-button">
              Create referral
            </button>
          </a>
      
      </nav>
      </div>

  
  </div>

  <div class="govuk-grid-row create-view">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        Other specialist or medical contacts
             </h1>
       
             <div class="govuk-form-group">
               <fieldset class="govuk-fieldset" role="group" aria-describedby="claimant-names">
               
                 <div class="govuk-form-group">
                   <fieldset class="govuk-fieldset">
                     <label class="govuk-label" for="preferred-name">
                 Health care professional type
                        </label>
                     <div class="govuk-radios" data-module="govuk-radios">
                       <div class="govuk-radios__item">
                         <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" checked>
                         <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                          Primary
                         </label>
                       </div>
                       <div class="govuk-radios__item">
                         <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                         <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                          Secondary
                         </label>
                       </div>
                      
                     </div>
                   </fieldset>
                 </div>
                 <div class="govuk-form-group">
                   <label class="govuk-label" for="preferred-name">
                  Profession
                   </label>
                   <input class="govuk-input" id="preferred-name" name="preferred-name" type="text" spellcheck="false" autocomplete="preferred-name" value="GP">
                 </div>
                 
           
                 <div class="govuk-form-group">
                   <label class="govuk-label" for="preferred-name">
                     Name
                   </label>
                   <input class="govuk-input" id="preferred-name" name="preferred-name" type="text" spellcheck="false" autocomplete="preferred-name" value="Dr T Test">
                 </div>
       
       
               
       
                
                 </fieldset>
              
               </div>
       
     
             <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                 <h2 class="govuk-fieldset__heading">
                   Address
                 </h2>
               </legend>
           
         
           <div class="govuk-form-group">
             <label class="govuk-label" for="address-line-1">
               Address line 1
             </label>
             <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="1 Test Surgery">
           <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
         
           <div class="govuk-form-group">
             <label class="govuk-label" for="address-line-2">
               Address line 2 (optional)
             </label>
             <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
           </div>
         
           <div class="govuk-form-group">
             <label class="govuk-label" for="address-town">
               Town or city
             </label>
             <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="Test City">
           </div>
         
           <div class="govuk-form-group">
             <label class="govuk-label" for="address-county">
               County (optional)
             </label>
             <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
           </div>
         
           <div class="govuk-form-group">
             <label class="govuk-label" for="address-postcode">
               Postcode
             </label>
             <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code" value="XX11 1XX">
           </div>
     
           <!-- <div class="govuk-form-group">
               <fieldset class="govuk-fieldset" role="group" aria-describedby="ni/crn numbers">
                 <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                   <h2 class="govuk-fieldset__heading">
                     Ni number/Customer reference number
                   </h2>
                 </legend>
     
                 <div class="govuk-form-group">
                   <label class="govuk-label" for="ni-number">
                     National insurance number
                   </label>
                   <input class="govuk-input govuk-!-width-one-third" id="ni-number" name="ni-number" type="text" spellcheck="false" autocomplete="ni-number">
                 </div>
     
                 <div class="govuk-form-group">
                   <label class="govuk-label" for="crn-number">
                     Customer reference number
                   </label>
                   <input class="govuk-input govuk-!-width-one-third" id="crn-number" name="crn-number" type="text" spellcheck="false" autocomplete="crn-number">
                 </div>
     
               </fieldset>
             </div> -->
     
           
     
     
         
     
     
     
           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset" role="group" aria-describedby="contact-details">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                 <h2 class="govuk-fieldset__heading">
                   Contact details
                 </h2>
               </legend>
     
               <div class="govuk-form-group">
                 <label class="govuk-label" for="home-number">
                   Phone number
                 </label>
                 <input class="govuk-input govuk-input--width-20" id="home-number" name="home-number" type="text" spellcheck="false" autocomplete="home-number" value="09000 000000">
               </div>
     
             </fieldset>
           </div>
     
     
           <div class="govuk-form-group">
           
     
               <div class="govuk-form-group">
                 <label class="govuk-label" for="home-number">
                   Email address
                 </label>
                 <input class="govuk-input" id="home-number" name="home-number" type="text" spellcheck="false" autocomplete="home-number" value="test.surgery@example.com">
               </div>
     
             </div></fieldset>
          
    


<p style= "float: right; margin-bottom:20px;"> <a href="specialist-medical">Remove</a> </p>
    

  <hr style="margin-top:50px;"> 

  <h1 class="govuk-heading-l" id="new">
    Add specialist or medical contact
       </h1>
 
       <div class="govuk-form-group">
         <fieldset class="govuk-fieldset" role="group" aria-describedby="claimant-names">
         
           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <label class="govuk-label" for="preferred-name">
           Health care professional type
                  </label>
               <div class="govuk-radios" data-module="govuk-radios">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" >
                   <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Primary
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                   <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Secondary
                   </label>
                 </div>
                
               </div>
             </fieldset>
           </div>
           <div class="govuk-form-group">
             <label class="govuk-label" for="preferred-name">
            Profession
             </label>
             <input class="govuk-input" id="preferred-name" name="preferred-name" type="text" spellcheck="false" autocomplete="preferred-name" >
           </div>
           
     
           <div class="govuk-form-group">
             <label class="govuk-label" for="preferred-name">
               Name
             </label>
             <input class="govuk-input" id="preferred-name" name="preferred-name" type="text" spellcheck="false" autocomplete="preferred-name" >
           </div>
 
 
         
 
          
           </fieldset>
        
         </div>
 

       <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
           <h2 class="govuk-fieldset__heading">
             Address
           </h2>
         </legend>
     
   
     <div class="govuk-form-group">
       <label class="govuk-label" for="address-line-1">
         Address line 1
       </label>
       <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" >
     <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
   
     <div class="govuk-form-group">
       <label class="govuk-label" for="address-line-2">
         Address line 2 (optional)
       </label>
       <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
     </div>
   
     <div class="govuk-form-group">
       <label class="govuk-label" for="address-town">
         Town or city
       </label>
       <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"  >
     </div>
   
     <div class="govuk-form-group">
       <label class="govuk-label" for="address-county">
         County (optional)
       </label>
       <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
     </div>
   
     <div class="govuk-form-group">
       <label class="govuk-label" for="address-postcode">
         Postcode
       </label>
       <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"  >
     </div>

     <!-- <div class="govuk-form-group">
         <fieldset class="govuk-fieldset" role="group" aria-describedby="ni/crn numbers">
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             <h2 class="govuk-fieldset__heading">
               Ni number/Customer reference number
             </h2>
           </legend>

           <div class="govuk-form-group">
             <label class="govuk-label" for="ni-number">
               National insurance number
             </label>
             <input class="govuk-input govuk-!-width-one-third" id="ni-number" name="ni-number" type="text" spellcheck="false" autocomplete="ni-number">
           </div>

           <div class="govuk-form-group">
             <label class="govuk-label" for="crn-number">
               Customer reference number
             </label>
             <input class="govuk-input govuk-!-width-one-third" id="crn-number" name="crn-number" type="text" spellcheck="false" autocomplete="crn-number">
           </div>

         </fieldset>
       </div> -->

     


   



     <div class="govuk-form-group">
       <fieldset class="govuk-fieldset" role="group" aria-describedby="contact-details">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
           <h2 class="govuk-fieldset__heading">
             Contact details
           </h2>
         </legend>

         <div class="govuk-form-group">
           <label class="govuk-label" for="home-number">
             Phone number
           </label>
           <input class="govuk-input govuk-input--width-20" id="home-number" name="home-number" type="text" spellcheck="false" autocomplete="home-number"  >
         </div>

       </fieldset>
     </div>


     <div class="govuk-form-group">
     

         <div class="govuk-form-group">
           <label class="govuk-label" for="home-number">
             Email address
           </label>
           <input class="govuk-input" id="home-number" name="home-number" type="text" spellcheck="false" autocomplete="home-number"  >
         </div>

       </div></fieldset>
    


  <a href=" " role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add another for representation and support
  </a>

    

    </div>
  </div>

{% endblock %}
