{% extends "layout-extended.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">
    <a href="../v5/" class="govuk-back-link">Back</a>
  <!-- <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>--> 

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-two-thirds">
            




            <form action="new-referrals" method="post" class="form">

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                     Select how to view new referrals to assign
                    </h1>
                  </legend>

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
            Select assessment centre
                    </h2>
                  </legend> 
                 
                  <fieldset class="govuk-fieldset">
                 
                    <div class="govuk-radios govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-tresco" name="where" type="radio" value="tresco" {{ checked("where", "tresco") }}>
                        <label class="govuk-label govuk-radios__label" for="where-tresco">
                          Tresco House
                        </label>
                      </div>
    
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-handsworth" name="where" type="radio" value="handsworth" {{ checked("where", "handsworth") }}>
                        <label class="govuk-label govuk-radios__label" for="where-handsworth">
                        	Handsworth
                        </label>
                      </div>
    
                   
                     
                      </div>
                    </fieldset>
               
               
                </fieldset>
                </legend>

          <br>
             
                    
                          
                      
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="benefit-type-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Select benefit type
                </h1>
              </legend>
              <span id="benefit-type-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit-type-UC" name="benefit-type" type="checkbox" value="UC" {{ checked("benefit-type", "UC") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit-type-UC">
                UC
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit-type-ESA" name="benefit-type" type="checkbox" value="ESA" {{ checked("benefit-type", "ESA") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit-type-ESA">
                   ESA
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit-type-PIP" name="benefit-type" type="checkbox" value="PIP" {{ checked("benefit-type", "PIP") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit-type-PIP">
                   PIP
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
  
               
                 
                </fieldset>
              </div>
      
              <button class="govuk-button" data-module="govuk-button">Continue</button>
      
            </form>



            </div>
        </div>

    </main>
  </div>


{% endblock %}
