{% extends "layout-extended.html" %}

{% block pageTitle %}
Reasonable adjustments - Health Assesssment Service

{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Reasonable adjustments
            </h2>
          </legend>
          <div id="adjustment-hint" class="govuk-hint">
          Select any reasonable adjustments the claimant has asked for
          </div>
          <br>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment1" name="adjustment" type="checkbox" value="bsl" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment1">
                British Sign Language interpreter
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment2" name="adjustment" type="checkbox" value="car" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment2">
                Car parking space due to mobility issues
              </label>
            </div>
          <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment3" name="adjustment" type="checkbox" value="location">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment3">
                Changing location of interview
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment4" name="adjustment" type="checkbox" value="time">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment4">
                Changing the time and date of meetings and interviews
              </label>
            </div> 


          <!--  <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment5" name="adjustment" type="checkbox" value="time">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment5">
                Communications in an alternative format
              </label>
            </div>
          -->



            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment6" name="adjustment" type="checkbox" value="home" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment6">
                Contact by email
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment7" name="adjustment" type="checkbox" value="home" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment7">
                Filming or recording request
              </label>
            </div>




            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment8" name="adjustment" type="checkbox" value="home" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment8">
                Home visits (permission needed)
              </label>
            </div>



            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment9" name="adjustment" type="checkbox" value="hearing loop" checked>
              <label class="govuk-label govuk-checkboxes__label" for="adjustmen9">
                Hearing or induction loop systems
              </label>
            </div>


           <!--  <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment10" name="adjustment" type="checkbox" value="hearing loop" checked>
              <label class="govuk-label govuk-checkboxes__label" for="adjustment10">
                Induction Loop Systems
              </label>
            </div> -->


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment11" name="adjustment" type="checkbox" value="hearing loop" >
              <label class="govuk-label govuk-checkboxes__label" for="adjustment11">
                Postal status (for ESA only)
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment12" name="adjustment" type="checkbox" value="private" checked>
              <label class="govuk-label govuk-checkboxes__label" for="adjustment12">
                Quiet space before or during assessment
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment13" name="adjustment" type="checkbox" value="represent">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment13">
                Support from a family member or friend </label>
            </div>

           <!--  <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment14" name="adjustment" type="checkbox" value="textphone" checked>
              <label class="govuk-label govuk-checkboxes__label" for="adjustment14">
                Textphone and Texbox</label>
            </div> -->

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment15" name="adjustment" type="checkbox" value="toilet">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment15">
                Toilet access </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment16" name="adjustment" type="checkbox" value="transport">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment16">
                Public or private transport due to mobility issues </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="adjustment17" name="adjustment" type="checkbox" value="other" aria-controls="conditional-adjustment17" aria-expanded="false">
              <label class="govuk-label govuk-checkboxes__label" for="adjustment17">
                Other
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-adjustment17">
              <div class="govuk-form-group">
                <label class="govuk-label" for="other">
                 Please specify
                </label>

                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
              </div>  </div>


          </div>

        </fieldset>
      </div>




      <a href="../pip-claimant-detail-updated">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
