{% extends "layout-extended.html" %}

{% block pageTitle %}
Claimant mobile number - Health Assessment Service
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     


    

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="contact-details">
          <form action="../pip-claimant-detail-updated-mobile" method="post" novalidate="">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Enter the claimant's mobile phone number
            </h2>
          </legend>


          <div class="govuk-form-group">
          <form action="../pip-claimant-detail-updated-mobile" method="post" novalidate="">
            <div id="phone-hint" class="govuk-hint">
              For example, ‘07799997799’.
            </div>
            <input class="govuk-input govuk-input--width-20" id="mobile-number" name="mobile-number" type="text" spellcheck="false" autocomplete="mobile-number" value="07000 000000">
          </div>

         

        </fieldset>
      </div>


   



      <a href="../pip-claimant-detail-updated-mobile">  <button class="govuk-button" data-module="govuk-button">
        Continue
        </button>
      </a>
    </form>
    </div>
  </div>

{% endblock %}
