{% extends "layout-medicalevidence-extended.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}



{% if  data['address-change'] === 'yes' %}
<a href="pip-claimant-detail-updated" class="govuk-back-link">Back</a>

{% else %}

<a href="pip-claimant-detail" class="govuk-back-link">Back</a>


{% endif %}





<!-- do logic for back button when coming from interupt page -->
{% endblock %}

{% block content %}
  



   

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">
            Filters        {{ data['address-change'] }} 
          </h2>
          <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
            Select one or more filters to apply to the list.
          </div>
          <div class="table-filter">
            <form id="filters" action="index" method="post"> 
              <!--Filters-->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Benefit type
                </legend>

                
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="ESA" name="benefit-type" type="checkbox" value="ESA" {% if checkESA %} checked {% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="ESA">
                        Employment Support Allowance (0)   
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="PIP" name="benefit-type" type="checkbox" value="PIP" {% if checkPIP %} checked {% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="PIP">
                        Personal Independence Payment (3)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="UC" name="benefit-type" type="checkbox" value="UC" {% if checkUC %} checked {% endif %}>
                        <label class="govuk-label govuk-checkboxes__label" for="UC">
                          Universal Credit (0)
                        </label>   
                    </div>     
                </div>
              </fieldset>
              </div>

              <button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>
            </form>
      
      
      
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-l">
            Timeline
          </h1>


          
          <ol class="dwp-timeline">

            <li class="dwp-timeline__entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">PIP Requested med ev</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Med Ev issued to Lozells Medical Centre as requested by HCP – await return.</p>
              <p class="govuk-caption-m">
                  03 January 2024
              </p>
          </li>
           
            <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">PIP Initial or further evidence reviewed</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Request GPFR, uploaded onto share point. If not return then for TA.</p>
                <p class="govuk-caption-m">
                    14 December 2023
                </p>
            </li>
              <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">PIP Referral built</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1"> Sharepoint folder created- PIPCS noted </p>
                <p class="govuk-caption-m">
                    6 December 2023
                </p>
              </li>
          </ol>
        </div>
       

        <div class="govuk-grid-column-one-quarter">
          <div class="app-related-items">
            <h2 class="govuk-heading-m">
              What you can do next
            </h2>

            <ul class="govuk-list">
             

              <li class="govuk-!-margin-bottom-2">
                <a href=" ">Add PIP entry to timeline</a>
              </li>
            </ul>

         
          </div>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
