{% extends "layout-extended.html" %}

{% block pageTitle %}
Confirm claimant address - Health Assessment Service
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      
        <div class="govuk-grid-column-two-thirds">
            
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Alert actioned
              </h1>
              
            </div>
            
                        <p class="govuk-body">
                            <a href="pip-alerts" class="govuk-link">Return to unactioned PIP alerts list</a>
                        </p>
                    </div>

   
<!-- 

    
   <a href="personal-change-address" aria-describedby="search-referral">
       
         Enter address manually
        
      </a></p>-->

    </div>
  </div>

{% endblock %}
