{% extends "layout-assessmentbooked-extended.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">

  <div class="govuk-grid-column-full">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <form class="form" action="current-assessments-cancelled" method="post">

      <h1 class="govuk-heading-l">Appointment details</h1>

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
      <h2 class="govuk-heading-m">Are you sure you want to cancel this appointment?</h2>

      <div class="govuk-button-group">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
         Cancel assessment
        </button>

       




        <a class="govuk-link" href="pip-claimant-detail">Return to claimant details</a>
      </div>


      
   </div></div>

         
    
      
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Assessment centre
                </dt>
                <dd class="govuk-summary-list__value">
                  Tresco House, 4th Floor, 65 Lisson Grove, London, NW1 6UT
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
          
        
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefit
                </dt>
                <dd class="govuk-summary-list__value">
                  PIP
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
  
  
  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Appointment type
                </dt>
                <dd class="govuk-summary-list__value">
                
                
                 
              Face to face
                
                 
                 

                  
                </dd>
             
                <dd class="govuk-summary-list__actions">
                 
                </dd> 

              </div>
            
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  Mon 18 December 2023, 11am
                </dd>
             
                <dd class="govuk-summary-list__actions">
                 
                </dd> 
              </div>
        
  
            
        
            
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  HCP
                </dt>
                <dd class="govuk-summary-list__value">
                 
                
                
                  Ana Lopes
                
                  
                </dd>
              
  
             <dd class="govuk-summary-list__actions">
                 
                </dd> 
              </div>
  
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional information
                </dt>
                <dd class="govuk-summary-list__value">
                  
  
                 None
                
  
                </dd>
            <dd class="govuk-summary-list__actions">
                  
                </dd> 
              </div>
              
            </dl>

      
          <div>

           
      
         
          </div>
      
        </fieldset>
      </div>
      </div>
    </div>
  </main>
</div>





  </div>

</div>

</main>
</div>




{% endblock %}

