{% extends "layout-extended.html" %}

{% block pageTitle %}
Unacceptable behaviour - Health Assesssment Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!-- <span class="govuk-caption-l govuk-!-margin-bottom-2">Create referral question 9 of X</span> -->
      


     <h1 class="govuk-heading-l">
      Select the control measures that need to be followed
   </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            
              <div id="waste-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste"  type="checkbox"  >
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Accompanied interviews

                    
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2"  type="checkbox"  >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Accompanied visits
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3"  type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Banned from office
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-4" type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                  
                    Banned from using UCFS Journal
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-5" type="checkbox"  >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                    Customer not permitted to use DWP computers
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-6"  type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-6">
                    Dealt with by member of other race
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-7" type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-7">
                    Deal with by member of other sex
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-8"  type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-8">
                    Dealt with by member of other race / sex
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-9" type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-9">
                    Dealt with by member of same race
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-10"  type="checkbox"  checked>
                  <label class="govuk-label govuk-checkboxes__label" for="waste-10">
                    Dealt with by member of same sex
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-11" type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-11">
                    Injunction in place
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-12" type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-12">
                    Interdict in place
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-13"  type="checkbox"  checked>
                  <label class="govuk-label govuk-checkboxes__label" for="waste-13">
                    Monitor behaviour
                  </label>
                </div>


                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-14"  type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-14">
                    Must be dealt with by post
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-15"  type="checkbox" >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-15">
                    Must be dealt with by digital
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-16"  type="checkbox"  >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-16">
                    Must be dealt with in a screened environment
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-17"  type="checkbox"  checked>
                  <label class="govuk-label govuk-checkboxes__label" for="waste-17">
                    No home visits
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-18"  type="checkbox"  >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-18">
                    No home visits, must be dealt with by post
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-19" type="checkbox"   checked>
                  <label class="govuk-label govuk-checkboxes__label" for="waste-19">
                    Not to be seen by lone females
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-20"  type="checkbox"  >
                  <label class="govuk-label govuk-checkboxes__label" for="waste-20">
                    
                    Not to be seen by lone males
                  </label>
                </div>

          

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-21" name="format" type="checkbox" value="other" aria-controls="conditional-waste-21" aria-expanded="false">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-21">
                    To be dealt with by a named officer
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-waste-21">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="other">
                     Please specify
                    </label>
    
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                  </div>  </div>
              </div>
    

               
            </fieldset>
          </div>

      
     <a href="../pip-case-details-updated">  <button class="govuk-button" data-module="govuk-button">
      Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
