{% extends "layout-extended.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="create-referral-consent" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l govuk-!-margin-bottom-2">Create referral question x of x</span>
          <h1 class="govuk-fieldset__heading">
            Enter GP details
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="gp-name">
            GP Name
          </label>
          <input class="govuk-input" id="gp-name" name="gp-name" type="text" spellcheck="false" autocomplete="gp-name">
        </div>
  
        <div class="govuk-form-group">
          <label class="govuk-label" for="surgery-name">
            Surgery name
          </label>
          <input class="govuk-input" id="surgery-name" name="surgery-name" type="text" spellcheck="false" autocomplete="surgery-name">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
        </div>
      
      </fieldset>


      <a href="create-referral-type" aria-describedby="search-referral">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
