{% extends "layout-extended.html" %}

{% block pageTitle %}
Referral list
{% endblock %}

{% block beforeContent %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      New referrals
    </h1>
  </div>
</div> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">
      Filters
    </h2>
    <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
      Select one or more filters to apply to the list.
    </div>
    <div class="table-filter">
      <form id="filters">
        <!--Filters-->

        {{ govukCheckboxes({
        idPrefix: "caseType",
        name: "caseType",
        classes: "govuk-checkboxes--small",
        fieldset: {
        legend: {
        text: "Case Type",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
        }
        },
        items: [
        {
        id: "srel",
        value: "srel",
        html: "Special Rules for End of Life (<span id='srelCount'>2</span>)"
        }
        ]
        }) }}

        {{ govukCheckboxes({
        idPrefix: "benefitType",
        name: "benefit-type",
        classes: "govuk-checkboxes--small",
        fieldset: {
        legend: {
        text: "Benefit type",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
        }
        },
        items: [
        {
        id: "esa",
        value: "esa",
        text: "ESA (13)"
        },
        {
        id: "pip",
        value: "pip",
        text: "PIP (25)"
        },
        {
        id: "uc",
        value: "uc",
        text: "UC (22)"
        }
        ]
        }) }}

        {{ govukCheckboxes({
        idPrefix: "assessmentCentre",
        name: "assessment-centre",
        classes: "govuk-checkboxes--small",
        fieldset: {
        legend: {
        text: "Assessment centre",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
        }
        },
        items: [
        {
        id: "handsworth",
        value: "handsworth",
        text: "Birmingham Handsworth (22)"
        },
        {
        id: "doncaster",
        value: "doncaster",
        text: "Doncaster site name (8)"
        },
        {
        id: "leeds",
        value: "leeds",
        text: "Leeds site name (10)"
        },
        {
        id: "tresco",
        value: "tresco",
        text: "London Tresco House (20)"
        }
        ]
        }) }}

        <button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>
      </form>



    </div>
  </div>
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      New referrals
    </h1>
    <div id="filter-playback" class="govuk-hint govuk-!-Marchgin-bottom-4">
      60 new referrals
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant name</th>
          <th scope="col" class="govuk-table__header">NINO</th>
          <th scope="col" class="govuk-table__header">Referral date</th>
          <th scope="col" class="govuk-table__header">Next action due in</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row srel esa handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">John
              Doe</a></td>
          <td class="govuk-table__cell">RN 00 01 23 A</td>
          <td class="govuk-table__cell">8 July 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row srel pip tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Januarye
              Doe</a></td>
          <td class="govuk-table__cell">RN 00 02 22 C</td>
          <td class="govuk-table__cell">10 July 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report"
              aria-describedby="claimant-detail-report">Januaryette Rafe</a></td>
          <td class="govuk-table__cell">RN 00 11 23 A</td>
          <td class="govuk-table__cell">16 February 2022</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red" id="overdue">8 days overdue</strong>
          </td>
        </tr>
        <tr class="govuk-table__row no-srel uc handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail">Noelle
              Carmel</a></td>
          <td class="govuk-table__cell">RN 00 04 26 D</td>
          <td class="govuk-table__cell">10 February 2022</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red" id="overdue">7 days overdue</strong>
          </td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report"
              aria-describedby="claimant-detail-report">Januaryice West</a></td>
          <td class="govuk-table__cell">RN 11 0 22 C</td>
          <td class="govuk-table__cell">16 February 2022</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red" id="overdue">3 days overdue</strong>
          </td>
        </tr>
        <tr class="govuk-table__row no-srel uc handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail">Noah
              Best</a></td>
          <td class="govuk-table__cell">RN 00 09 36 H</td>
          <td class="govuk-table__cell">10 February 2022</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red" id="overdue">2 days overdue</strong>
          </td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report"
              aria-describedby="claimant-detail-report">Eileen Jones</a></td>
          <td class="govuk-table__cell">RN 00 41 16 K</td>
          <td class="govuk-table__cell">16 February 2022</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red" id="overdue">1 day overdue</strong>
          </td>
        </tr>
        <tr class="govuk-table__row no-srel uc handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail">Nigel
              Jones</a></td>
          <td class="govuk-table__cell">RN 00 09 22 B</td>
          <td class="govuk-table__cell">10 February 2022</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red" id="overdue">1 day overdue</strong>
          </td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report"
              aria-describedby="claimant-detail-report">Sylevette Colwyn</a></td>
          <td class="govuk-table__cell">RN 00 01 11 N</td>
          <td class="govuk-table__cell">10 March 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel uc tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Ethan
              Thornton</td>
          <td class="govuk-table__cell">RN 00 01 61 D</td>
          <td class="govuk-table__cell">10 January 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel esa tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Paige
              Gael</a></td>
          <td class="govuk-table__cell">RN 00 07 71 T</td>
          <td class="govuk-table__cell">10 April 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel pip handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Januarye
              Donald</a></td>
          <td class="govuk-table__cell">RN 00 01 23 A</td>
          <td class="govuk-table__cell">1 March 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel esa handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Jake
              Rafter</a></td>
          <td class="govuk-table__cell">RN 00 11 23 A</td>
          <td class="govuk-table__cell">16 February 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel pip handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Rhys
              Cooper</a></td>
          <td class="govuk-table__cell">RN 00 01 11 N</td>
          <td class="govuk-table__cell">10 February 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Ethel
              Smith</td>
          <td class="govuk-table__cell">RN 00 01 61 D</td>
          <td class="govuk-table__cell">10 April 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel uc tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Rita
              Jones</a></td>
          <td class="govuk-table__cell">RN 00 07 71 T</td>
          <td class="govuk-table__cell">10 January 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-start-assessment">Zidane May</a>
          </td>
          <td class="govuk-table__cell">RN 00 01 45 K</td>
          <td class="govuk-table__cell">28 April 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel uc tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-start-assessment">Lorna
              Marchkham</a></td>
          <td class="govuk-table__cell">RN 00 01 21 K</td>
          <td class="govuk-table__cell">28 April 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel uc tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-start-assessment">Saffa Good</a>
          </td>
          <td class="govuk-table__cell">RN 00 11 26 N</td>
          <td class="govuk-table__cell">28 March 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel esa tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Cody Battle</a></td>
          <td class="govuk-table__cell">RN 00 03 34 M</td>
          <td class="govuk-table__cell">28 February 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel pip handsworth">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Melvin Dalby</a></td>
          <td class="govuk-table__cell">RN 00 08 41 Z</td>
          <td class="govuk-table__cell">29 March 2022</td>
          <td class="govuk-table__cell">1 day</td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Blossom Delacruz</a></td>
          <td class="govuk-table__cell">RN 00 02 25 P</td>
          <td class="govuk-table__cell">29 March 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel uc tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Nadia Pitt</a></td>
          <td class="govuk-table__cell">RN 00 00 01 A</td>
          <td class="govuk-table__cell">10 April 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel esa tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail">Alya Branch</a></td>
          <td class="govuk-table__cell">RN 00 03 78 R</td>
          <td class="govuk-table__cell">16 April 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Olaf Le</a></td>
          <td class="govuk-table__cell">RN 00 01 31 H</td>
          <td class="govuk-table__cell">20 January 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel uc tresco">
          <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Garfield Galvan</a></td>
          <td class="govuk-table__cell">RN 00 01 21 J</td>
          <td class="govuk-table__cell">20 April 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel esa handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Susie
              Werner</a></td>
          <td class="govuk-table__cell">RN 00 22 27 J</td>
          <td class="govuk-table__cell">26 April 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel pip tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report"
              aria-describedby="claimant-detail-report">Krystal Black</a></td>
          <td class="govuk-table__cell">RN 00 01 25 G</td>
          <td class="govuk-table__cell">27 April 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel uc tresco">
          <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Pablo
              Holden</a></td>
          <td class="govuk-table__cell">RN 00 09 96 U</td>
          <td class="govuk-table__cell">24 April 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
        <tr class="govuk-table__row no-srel uc handsworth">
          <td class="govuk-table__cell"><a href="claimant-detail-report"
              aria-describedby="claimant-detail-report">Lilly-Mae Merritt</a></td>
          <td class="govuk-table__cell">RN 00 02 22 W</td>
          <td class="govuk-table__cell">24 April 2022</td>
          <td class="govuk-table__cell">2 days</td>
        </tr>
      </tbody>
    </table>

    <div class="pagination" id="pagination">
      <div class="pagination__sumMarchy">
        Showing 1 - 20 of <span id="paginationTotal">60</span> results
      </div>
      <ul class="pagination__list-items">
        <li class="pagination__item"></li>
        <li class="pagination__item"></li>
        <li class="pagination__item">
          <a class="pagination__link pagination__link--current" href="">
            1
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="?page=2">
            2
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="?page=3">
            3
          </a>
        </li>
        <li class="pagination__item" id="nextButton">
          <a class="pagination__link" href="?page=2">
            Next
            <span aria-hidden="true" role="presentation">
              »
            </span>
          </a>
        </li>
      </ul>
    </div>


  </div>
</div>

<script>

  function hideAllWithClass(classname) {
    document.querySelectorAll("." + classname).forEach((element) => {
      element.style.visibility = 'collapse';
    });
  }

  function showAllWithClass(classname) {
    document.querySelectorAll("." + classname).forEach((element) => {
      element.style.visibility = 'visible';
    });
  }

  document.querySelector("#filters").addEventListener("submit", function (e) {

    e.preventDefault();    //stop form from submitting

    showAllWithClass("esa");
    showAllWithClass("pip");
    showAllWithClass("uc");
    showAllWithClass("tresco");
    showAllWithClass("handsworth");
    showAllWithClass("srel");
    showAllWithClass("no-srel");

    let benefitTypes = [];
    let sites = [];

    if (document.getElementById('srel').checked == true) {
      hideAllWithClass("no-srel");
    }

    if (document.getElementById('pip').checked == true || document.getElementById('esa').checked == true || document.getElementById('uc').checked == true) {
      if (document.getElementById('pip').checked == false) {
        hideAllWithClass("pip");
      } else {
        benefitTypes.push("Personal Independence Payment");
      }

      if (document.getElementById('esa').checked == false) {
        hideAllWithClass("esa");
      } else {
        benefitTypes.push("Employment Support Allowance");
      }

      if (document.getElementById('uc').checked == false) {
        hideAllWithClass("uc");
      } else {
        benefitTypes.push("Universal Credit");
      }
    }

    if (document.getElementById('handsworth').checked == true || document.getElementById('tresco').checked == true) {
      if (document.getElementById('handsworth').checked == false) {
        hideAllWithClass("handsworth");
      } else {
        sites.push("Handsworth");
      }

      if (document.getElementById('tresco').checked == false) {
        hideAllWithClass("tresco");
      } else {
        sites.push('Tresco');
      }
    }

    var count = 0;
    var elemnts = document
      .querySelectorAll('.govuk-table tr').forEach((element) => {
        if (element.style.visibility === 'visible') {
          count += 1;
        }
      })

    if (count < 20) {
      document.getElementById('pagination').style.visibility = 'collapse';
    } else {
      document.getElementById('pagination').style.visibility = 'visible';
    }

    document.getElementById('paginationTotal').innerText = count;

    var eol = document.getElementById('srel').checked ? " end of life" : "";
    var benefitTypeString = benefitTypes.join(", ");
    var sitesString = sites.join(", ");
    var ifBenefitType = benefitTypes.length > 0 ? ' for ' : '';
    var ifSites = sites.length > 0 ? ' at ' : '';

    //11 HCP review end of life referrals in PIP, ESA, UC at Birmingham Handsworth
    var text = count + " HCP review " + eol + " referrals " + ifBenefitType + benefitTypeString + ifSites + sitesString;

    document.getElementById('filter-playback').innerText = text;

    // document.getElementById('srelCount').innertext = document.querySelectorAll('.govuk-table tr.srel').length;

  });

</script>

{% endblock %}
