{% extends "layout.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}

<div class="app-pane__body">

<div class="app-pane__subnav">
  <nav class="app-subnav" aria-labelledby="app-subnav-heading">
    <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claimant-overview">Overview</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claimant-details">Claimant details</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claimant-timeline">Timeline</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Appointments</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Evidence</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="case-history">Case history</a>
      </li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row overview">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-visually-hidden">Overview of claimant</h1>

      <section class="new-key-details-bar" role="identifier" aria-label="Claimant name and identifier">
        <dl class="new-key-details-bar__key-details">
          <div class="new-key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="new-key-details-bar__name">Jane Doe</dd>
      
            <dt class="govuk-visually-hidden">National Insurance number:</dt>
            <dd class="new-key-details-bar__nino">RN 00 04 26 D</dd>
      
          </div>
      
          <div class="new-key-details-bar__bottom-block">
            <dt class="govuk-visually-hidden">Claimant markers:</dt>
            <dd>
              <strong class="govuk-tag govuk-tag--purple">Terminally ill</strong>
              <!-- <strong class="govuk-tag govuk-tag--yellow">Additional support</strong> -->
              <strong class="govuk-tag govuk-tag--green">Appointee</strong>
              <strong class="govuk-tag govuk-tag--blue">Dual claim</strong>
              <!-- <strong class="govuk-tag govuk-tag--pink">Unacceptable behaviour</strong> -->
              <!-- <strong class="govuk-tag govuk-tag--red">Deceased</strong> -->
            </dd>
          </div>
        </dl>
      </section>

      <div class="govuk-grid-column-two-thirds">
      <section>
        <div class="govuk-notification-banner govuk-!-margin-top-4" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Reminder
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Face to face assessment
            </p>
            <p>10:30am on 29 January 2021<br />Tresco House</p>
            <div>
              <button class="govuk-button govuk-notification-banner__button" data-module="govuk-button">
                Start assessment
              </button>
            </div>
            <a class="govuk-!-margin-right-2" href="#" aria-describedby="view-appointment">View</a><a class="govuk-!-margin-right-2" href="#" aria-describedby="view-appointment">Rebook</a><a class="govuk-!-margin-right-2" href="#" aria-describedby="view-appointment">Cancel</a>
          </div>
        </div>
      </section>


      <section>
        <h2 class="govuk-heading-m govuk-!-margin-top-8">
          Case information
        </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key">
              Date referred
            </dt>
            <dd class="govuk-summary-list__value">
              19 November 2021
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key">
              Case type
            </dt>
            <dd class="govuk-summary-list__value">
              Rereferral
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              Employment Support Allowance
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key">
              Assessment centre
            </dt>
            <dd class="govuk-summary-list__value">
              Tresco House
            </dd>
          </div>
        </dl>
      </section>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8">
        Task list
      </h2>
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Introduction
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="introductory-call">
                  Introductory call 
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="introductory-call">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="questionnaire-issued">
                  Questionnaire issued
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="questionnaire-issued">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="questionnaire-received">
                  Questionnaire received
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="questionnaire-received">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Review 
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="review-claim">
                  Review case
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="review-claim">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="review-evidence">
                  Review evidence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="review-evidence">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="further-evidence">
                  Request further evidence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="further-evidence">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Assessment 
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="book-assessment">Book assessment</a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="book-assessment">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="start-assessment">Start assessment</a>
              </span>
              <strong class="govuk-tag app-task-list__tag  govuk-tag--grey" id="start-assessment">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Decision 
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="make-decision">Make decision</a>
              </span>
              <strong class="govuk-tag app-task-list__tag  govuk-tag--grey" id="make-decision">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="record-decision">Record decision</a>
              </span>
              <strong class="govuk-tag app-task-list__tag  govuk-tag--grey" id="record-decision">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="communicate-decision">Communicate decision</a>
              </span>
              <strong class="govuk-tag app-task-list__tag  govuk-tag--grey" id="communicate-decision">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>

      </div>

      <div class="govuk-grid-column-one-third">

          <h2 class="govuk-heading-m govuk-!-margin-top-4">
            Latest activity
          </h2>
          <ol class="dwp-timeline">
            <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Face to face assessment booked</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Booked by Angela Tait</p>
                <p class="govuk-caption-m">
                  25 January 2022
                </p>
            </li>
            <li class="dwp-timeline__entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Further medical evidence recieved</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Posted by Phil Smith</p>
              <p class="govuk-caption-m">
                  6 January 2022
              </p>
            </li>
            <li class="dwp-timeline__entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Requested further medical evidence</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Phonecall to claimant by Phil Smith</p>
                <p class="govuk-caption-m">
                  20 December 2021
                </p>
            </li>
            <li class="dwp-timeline__entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Questionnaire received</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Post by Angela Tait</p>
              <p class="govuk-caption-m">
                  19 December 2021
              </p>
            </li>
            <li class="dwp-timeline__entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Questionnaire issued</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Posted by Phil Smith</p>
              <p class="govuk-caption-m">
                  15 December 2021
              </p>
            </li>
          </ol>
        </div>
      </div>

      

      

    </div>
  </div>
</div>
{% endblock %}
