{% extends "layout-key-details-single-claimant-record.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<style type="text/css">
  .navigation-header { 
    width:100%;
    border-bottom: 1px solid #bfc1c3;
    float:left;
    padding-top:10px;
    margin-bottom:30px;
  }

  .navigation-header li {
    float:left;
    margin-right:20px;
    margin-bottom:0 !important;
    padding-bottom:6px; 
  }
  .navigation-header li a, .navigation-header li a:hover, .navigation-header li a:visited { 
    text-decoration: none;
  }
  .navigation-header .active { 
    border-bottom:4px #005ea5 solid;
  }


  .govuk-main-wrapper {
    padding-top: 20px;
  }
</style>

<div class="navigation-header">
  <ul class="govuk-list">
    <li class="govuk-!-margin-bottom-2"><a href="claimant-overview" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant overview</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-detail" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant detail</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-log" class="govuk-!-padding-bottom-1 active">Interaction log</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-history" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant history</a></li>
  </ul>
</div>
<a href="claimant-overview" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Interaction log</h1>
    <ol class="dwp-timeline">
      <li class="dwp-timeline__entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ESA Face to face assessment booked</h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Booked by Angela Tait</p>
          <p class="govuk-caption-m">
              25 January 2022
          </p>
      </li>
      <li class="dwp-timeline__entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Returned questionnaire</h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Post from claimant</p>
          <p class="govuk-caption-m">
              23 January 2022
          </p>
      </li>
      <li class="dwp-timeline__entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Reminded them to return questionnaire</h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Phonecall to claimant by Phil Smith</p>
          <p class="govuk-caption-m">
              20 January 2022
          </p>
      </li>
        <li class="dwp-timeline__entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Sent questionnaire</h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Posted to claimant by Phil Smith</p>
          <p class="govuk-caption-m">
              6 January 2022
          </p>
        </li>
    </ol>
  </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="#">Add new entry</a>
            </li>
            <li>
              <a href="#">Edit an entry</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
