{% extends "layout-key-details-single-claimant-record.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}

{% block beforeContent %}
<style type="text/css">
  .navigation-header { 
    width:100%;
    border-bottom: 1px solid #bfc1c3;
    float:left;
    padding-top:10px;
    margin-bottom:30px;
  }

  .navigation-header li {
    float:left;
    margin-right:20px;
    margin-bottom:0 !important;
    padding-bottom:6px; 
  }
  .navigation-header li a, .navigation-header li a:hover, .navigation-header li a:visited { 
    text-decoration: none;
  }
  .navigation-header .active { 
    border-bottom:4px #005ea5 solid;
  }
</style>

<div class="navigation-header">
  <ul class="govuk-list">
    <li class="govuk-!-margin-bottom-2"><a href="claimant-overview" class="govuk-!-padding-bottom-1 active">Claimant overview</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-detail" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant detail</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-log" class="govuk-link--no-visited-state govuk-link--no-underline">Interaction log</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-history" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant history</a></li>
  </ul>
</div>
<a href="claimant-overview" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<style type="text/css">
  .card { 
  position: relative;
  border-radius: 6px;
  border: 1px solid #b1b4b6;
  }

  .card__header {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 15px 20px;
  }

  .card__body {
    padding: 0 20px 20px;
  }

  .card__content h3, .card__content p {
    margin: 5px 0;
  }

  .border-bottom {
    border-bottom: 1px solid #b1b4b6;
  }

  .govuk-grid-column-one-half {
  padding: 0;
  }

  .govuk-main-wrapper {
    padding-top: 0;
  }

</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-visually-hidden">Overview of claimant</h1>

      <div class="govuk-grid-column-one-half govuk-!-padding-right-4 govuk-!-padding-top-4">
        
        <div class="card">
          <h2 class="govuk-heading-m card__header">
            Recent referrals
          </h2>
          <div class="card__body">
            <div class="card__content border-bottom govuk-!-margin-bottom-4">
              <h3 class="govuk-heading-s"><a href="referral-detail" aria-describedby="referral-detail">Employment Support Allowance</a></h3>
              <p class="govuk-hint">Submitted 19 November 2021</p>
              <div class="status govuk-!-margin-bottom-4"><strong class="govuk-tag">Assessment-booked</strong></div>
            </div>

            <div class="card__content">
              <h3 class="govuk-heading-s"><a href="#" aria-describedby="referral-detail">Universal Credit</a></h3>
              <p class="govuk-hint">Submitted 10 December 2021</p>
              <div class="status"><strong class="govuk-tag">Questionnaire Issued</strong></div>
            </div>
          </div>
        </div>

        <div class="card govuk-!-margin-top-4">
          <h2 class="govuk-heading-m card__header">
            Upcoming appointments
          </h2>
          <div class="card__body">
            <div class="card__content">
              <h3 class="govuk-heading-s">Employment support allowance assessment</h3>
              <p class="govuk-hint">29 January 2022 10:30am</p>
              <p class="">Tresco House</p>
              <p class="govuk-!-margin-top-2">
                <a class="govuk-!-margin-right-2" href="#" aria-describedby="view-appointment">View appointment</a>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="govuk-grid-column-one-half govuk-!-padding-top-4">
        <div class="card">
          <h2 class="govuk-heading-m card__header">
            Latest activity
          </h2>
          <div class="card__body">
            <ol class="dwp-timeline">
              <li class="dwp-timeline__entry">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ESA Face to face assessment booked</h2>
                  <p class="govuk-caption-m govuk-!-margin-bottom-1">Booked by Angela Tait</p>
                  <p class="govuk-caption-m">
                      25 January 2022
                  </p>
              </li>
              <li class="dwp-timeline__entry">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">UC Reminded them to return questionnaire</h2>
                  <p class="govuk-caption-m govuk-!-margin-bottom-1">Phonecall to claimant by Phil Smith</p>
                  <p class="govuk-caption-m">
                      20 January 2022
                  </p>
              </li>
                <li class="dwp-timeline__entry">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">UC Sent questionnaire</h2>
                  <p class="govuk-caption-m govuk-!-margin-bottom-1">Posted to claimant by Phil Smith</p>
                  <p class="govuk-caption-m">
                      6 January 2022
                  </p>
                </li>
            </ol>
            <p class="govuk-!-margin-top-4"><a href="claimant-log" aria-describedby="claimant-log">See more</a></p>
          </div>
        </div>
      </div>

      
    </div>

  </div>
{% endblock %}
