{% extends "layout-key-details-assessment.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<style type="text/css">
  .navigation-header { 
    width:100%;
    border-bottom: 1px solid #bfc1c3;
    float:left;
    padding-top:10px;
    margin-bottom:30px;
  }

  .navigation-header li {
    float:left;
    margin-right:20px;
    margin-bottom:0 !important;
    padding-bottom:6px; 
  }
  .navigation-header li a, .navigation-header li a:hover, .navigation-header li a:visited { 
    text-decoration: none;
  }
  .navigation-header .active { 
    border-bottom:4px #005ea5 solid;
  }


  .govuk-main-wrapper {
    padding-top: 20px;
  }
</style>

<div class="navigation-header">
  <ul class="govuk-list">
    <li class="govuk-!-margin-bottom-2"><a href="claimant-overview" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant overview</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-detail" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant detail</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-log" class="govuk-link--no-visited-state govuk-link--no-underline">Interaction log</a></li>
    <li class="govuk-!-margin-bottom-2"><a href="claimant-history" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant History</a></li>
  </ul>
</div>
<a href="claimant-overview" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Referral detail</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral date
          </dt>
          <dd class="govuk-summary-list__value">
            19 November 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral type
          </dt>
          <dd class="govuk-summary-list__value">
            New referral
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            Employment Support Allowance
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment centre
          </dt>
          <dd class="govuk-summary-list__value">
            Tresco House
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case manager
          </dt>
          <dd class="govuk-summary-list__value">
            Zoe Hall
          </dd>
        </div>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="update-status">Start assessment</a>
            </li>
            <li>
              <a href="update-status">View all documents for this claimant</a>
            </li>
            <li>
              <a href="update-status">Update status</a>
            </li>
            <li>
              <a href="assign-list-review">Move to another caseload</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
