{% extends "layout-extended.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="claimant-names">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
             Email address
            </h2>
          </legend>
       
          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <input class="govuk-input" id="email" name="email" type="text" spellcheck="false" autocomplete="home-number" value="test.email@example.com">
          </div>

        </fieldset>
      </div>



      <a href="../claimant-detail-assigned2-updated" aria-describedby="search-referral">   <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
