{% extends "layout-extended.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <!-- <div class="govuk-grid-column-full">


  </div> -->

  <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-right-9">

    <h1 class="govuk-visually-hidden">Full list of claimant information</h1>

    <section class="new-key-details-bar" role="identifier" aria-label="Claimant name and identifier">
      <dl class="new-key-details-bar__key-details">
        <div class="new-key-details-bar__top-block">
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="new-key-details-bar__name">Jane Doe</dd>

          <dt class="govuk-visually-hidden">National Insurance number:</dt>
          <dd class="new-key-details-bar__nino">RN 00 04 26 D</dd>

        </div>

        <div class="new-key-details-bar__bottom-block">
          <dt class="govuk-visually-hidden">Claimant markers:</dt>
          <dd>
            <strong class="govuk-tag govuk-tag--purple">End of life</strong>
            <!-- <strong class="govuk-tag govuk-tag--yellow">Additional support</strong> -->
            <strong class="govuk-tag govuk-tag--green">Appointee</strong>
            <!-- <strong class="govuk-tag govuk-tag--blue">Mental health condition</strong>
            <strong class="govuk-tag govuk-tag--pink">Unacceptable behaviour</strong> -->
            <strong class="govuk-tag govuk-tag--red">Deceased</strong>
          </dd>
        </div>
      </dl>
    </section>



    <h2 class="govuk-heading-m govuk-!-margin-top-6">Consent</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Contact GP
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Contact GP</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Outcome of recommmendation
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Outcome of recommmendation</span>
          </a>
        </dd>
      </div>
    </dl>

        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred name
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Preferred name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              31 December 1969
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of death
            </dt>
            <dd class="govuk-summary-list__value">
              22 February 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Date of death</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Test Street<br/>Test City<br/>XX11 1XX
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Correspondence address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other address
            </dt>
            <dd class="govuk-summary-list__value">
              none
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Other address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07799 997799
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="update-number">
                Change<span class="govuk-visually-hidden"> Home phone number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07799 997799
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Mobile phone number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Textphone number
            </dt>
            <dd class="govuk-summary-list__value">
              07799 997799
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Text phone number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.email@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Email address</span>
              </a>
            </dd>
          </div>
          </dl>

          <h2 class="govuk-heading-m">Contact preferences</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reasonable adjustments
              </dt>
              <dd class="govuk-summary-list__value">
                Textphone
                <br>
              Hearing loop
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">Reasonable adjustments</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative formats
              </dt>
              <dd class="govuk-summary-list__value">
                None
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Alternative formats</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                HCP preference
              </dt>
              <dd class="govuk-summary-list__value">
                none
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> HCP preference</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred contact method
              </dt>
              <dd class="govuk-summary-list__value">
                Email
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Preferred contact method</span>
                </a>
              </dd>
            </div>
            </dl>

        <h2 class="govuk-heading-m">Representation and support</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Representative
            </dt>
            <dd class="govuk-summary-list__value">
              Corporate Acting Body
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Appointee</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              Age UK
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Organisation name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact name
            </dt>
            <dd class="govuk-summary-list__value">
              Janette Rafe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Contact name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              10 Test Street<br/>Test City<br/>XX12 1XX
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07000 000000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Phone number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.email@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Email address</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">GP details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Named GP
            </dt>
            <dd class="govuk-summary-list__value">
              Dr T Test
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Named GP</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Test Surgery<br/>Test City<br/>XX11 1XX
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> GP Address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              09000 000000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> GP Phone number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.surgery@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> GP email address</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Other specialist or medical contacts</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Mr B Test
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Other medical professional name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Profession
            </dt>
            <dd class="govuk-summary-list__value">
              Consultant Rheumatologist
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Profession</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Test Hospital<br/>Test City<br/>XX11 1XX
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              09000 000000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Phone number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              test.surgery@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">email address</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Case details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Referral date
            </dt>
            <dd class="govuk-summary-list__value">
              2 February 2021
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              Universal Credit
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case type
            </dt>
            <dd class="govuk-summary-list__value">
              New referral
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assessment centre
            </dt>
            <dd class="govuk-summary-list__value">
              Tresco House
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case manager
            </dt>
            <dd class="govuk-summary-list__value">
              Unassigned
            </dd>
          </div>
        </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="https://supporting-documents-service.herokuapp.com/v4/full-mvp/claimant-documents-buttons">View claimant documents</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/">View timeline</a>
            </li>
            <li>
              <a href="https://interaction-log.herokuapp.com/version-0-3-2/referral">Add entry to timeline</a>
            </li>
            <!--<li>
              <a href="update-status">Update status</a>
            </li>-->
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
