{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/status-iteration/v4/status-filter2" method="post" class="form">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l govuk-!-margin-bottom-2">Referrals in progress</span>
              <h1 class="govuk-fieldset__heading">
                Filter referrals
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              View referrals by caseload or most recent activity.
            </div>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Caseload
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <div class="govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status" name="status2" type="radio" value="list-1">
                      <label class="govuk-label govuk-radios__label" for="status">
                        Jared Mosely-Redman (9)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-2" name="status2" type="radio" value="list-2">
                      <label class="govuk-label govuk-radios__label" for="status-2">
                        Zoe Hall (8)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-3" name="status2" type="radio" value="list-3">
                      <label class="govuk-label govuk-radios__label" for="status-3">
                        Akhtar Ahmed (15)
                      </label>
                    </div>
                  </div>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Activity
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <div class="govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-1" name="status" type="radio" value="awaiting-decision">
                      <label class="govuk-label govuk-radios__label" for="status-1">
                        Assigned (37)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-1" name="status" type="radio" value="awaiting-decision">
                      <label class="govuk-label govuk-radios__label" for="status-1">
                        Questionnaire issued (6)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-2" name="status" type="radio" value="claimant-contact">
                      <label class="govuk-label govuk-radios__label" for="status-2">
                        Introduction to claimant contact needed (56)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-3" name="status" type="radio" value="hcp-review">
                      <label class="govuk-label govuk-radios__label" for="status-3">
                        HCP needs to review before progressing (18)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-4" name="status" type="radio" value="awaiting-further-information">
                      <label class="govuk-label govuk-radios__label" for="status-4">
                        Awaiting further information from claimant (76)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-5" name="status" type="radio" value="awaiting-medical-evidence">
                      <label class="govuk-label govuk-radios__label" for="status-5">
                        GP evidence or other medical evidence needed (44)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-6" name="status" type="radio" value="other-professional-evidence">
                      <label class="govuk-label govuk-radios__label" for="status-6">
                        Other professional evidence needed (11)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-7" name="status" type="radio" value="claimant-evidence">
                      <label class="govuk-label govuk-radios__label" for="status-7">
                        Requested further evidence from claimant (33)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-8" name="status" type="radio" value="paper-based">
                      <label class="govuk-label govuk-radios__label" for="status-8">
                        Paper based review (25)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-9" name="status" type="radio" value="telephone-assessment">
                      <label class="govuk-label govuk-radios__label" for="status-9">
                        Telephone assessment (14)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-10" name="status" type="radio" value="face-to-face-assessment">
                      <label class="govuk-label govuk-radios__label" for="status-10">
                        Face to face assessment (47)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-11" name="status" type="radio" value="failed-to-attend">
                      <label class="govuk-label govuk-radios__label" for="status-11">
                        Failed to attend (9)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-12" name="status" type="radio" value="writing-decision">
                      <label class="govuk-label govuk-radios__label" for="status-12">
                        Writing up decision (29)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-13" name="status" type="radio" value="pipcs-descriptors">
                      <label class="govuk-label govuk-radios__label" for="status-13">
                        PAT team to input descriptors onto PIPCS (15)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-14" name="status" type="radio" value="pipcs-payment">
                      <label class="govuk-label govuk-radios__label" for="status-14">
                        Input PIPCS payment info into decision letter & issue after 24 hours (17)
                      </label>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </fieldset>
        </div>

      <button class="govuk-button" data-module="govuk-button">Filter</button>
    </form>

    </div>
  </div>


{% endblock %}
