{% extends "layout-extended.html" %}

{% block pageTitle %}
Specialist or medical email - Health Assessment Service
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
     <h1 class="govuk-heading-l">
      Enter the email address of the medical or specialist contact
      </h1>

    

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" >

        
            <input class="govuk-input" id="home-number" name="home-number" type="text" spellcheck="false" autocomplete="home-number" value="test.surgery@example.com">
          </fieldset>  </div>

   



          <a href="../pip-case-details-updated">  <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
      </a>

    </div>
  </div>

{% endblock %}
