{% extends "layout.html" %}

{% block pageTitle %}
  Single claimant record prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Central claimant record prototypes
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="claimant-case-poc">Claimant case POC June 21</a>
              </h2>
              <p class="dwp-card__description">How we display if a user has more than one referral on the service</p>
            </div>
          </div>
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="single-claimant-record/single-claimant-record/v1/">Design Sprint Dec 21</a>
              </h2>
              <p class="dwp-card__description">Initial central claimant record prototype from the cross team design sprint in dec 21</p>
            </div>
          </div>
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="single-claimant-record/single-claimant-record/usability-1/">Usability round 1</a>
              </h2>
              <p class="dwp-card__description">Initial central claimant record prototype in a basic interative format for delivery</p>
            </div>
          </div>
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="single-claimant-record/single-claimant-record/usability-2/">Usability round 2</a>
              </h2>
              <p class="dwp-card__description">Second iteration of central claimant record prototype in a basic interative format for delivery based on first rounds of research without overview</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
