{% extends "layout.html" %}

{% block pageTitle %}
  Team Chaffinch prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="/pip-has-integration/pip-has-integration.html">PIP HAS integration</a>
              </h2>
              <p class="dwp-card__description">This helps visualise what the referral details area in HAS will look like throughout the stages of integrating with New PIP Service. New PIP Service thin slice is due to go live in September 2024.</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="richer-claimant-info">Richer and editable claimant infomation</a>
              </h2>
              <p class="dwp-card__description">Allowing a user to update claimant information on the referral detail screens</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="single-claimant-record">HAS single claimant record</a>
              </h2>
              <p class="dwp-card__description">Archive of HAS single claimant record. Screen width are not as per the original prototype designs.</p>
            </div>
          </div>



          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="referral-state-model">Referral state model</a>
              </h2>
              <p class="dwp-card__description">Simplifying how a referral can be pushed end-to-end through the Health Assessment Service</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="finding-and-organising">Finding and organising</a>
              </h2>
              <p class="dwp-card__description">Helping a user find a claimant and manage the list of active referrals</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="status-iteration">Status Iteration</a>
              </h2>
              <p class="dwp-card__description">Iterating the statuses based on what we are learning from the DTA in Tresco House </p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="status-alignment">Status Alignment</a>
              </h2>
              <p class="dwp-card__description">Aligning the statuses to match the tracker in the HTA</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="next-action">Next Action Due</a>
              </h2>
              <p class="dwp-card__description">Adding a timeframe into the list views</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="filter">Filter and confirmation page</a>
              </h2>
              <p class="dwp-card__description">Adding filter into the list views and updated confirmation status page</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="colab">Collaboration</a>
              </h2>
              <p class="dwp-card__description">Where access to links such as documents and interaction log are displayed</p>
            </div>
          </div>


          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="homepage">Homepage iteration</a>
              </h2>
              <p class="dwp-card__description">Helping a user enter the service and find what they need to do</p>
            </div>
          </div>




    </div>
  </div>
{% endblock %}
