{% extends "layout.html" %}

{% block pageTitle %}
  Referral State Model Prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Richer and editable claimant information
      </h1>

      <p>This prototype looks at how we edit claimant data on the current live design</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Ability to update the phone number on any referral detail screen</li>
        <li>Contains the ability to add new phone number when user clicks 'change' on the referral detail screen</li>
        <li>Contains the ability to save new information when user clicks 'save' on the update phone number page</li>
      </ul>

      <a href="richer-claimant-info/v1/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



      

      <h2 class="govuk-heading-m">v2</h2>
      <p>This prototype looks at how display richer claimant information with the current key detail bar</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/richer-claimant-info/blank-states/claimant-detail">Blank state page for claimant data</a></li>
        <li>Shows how richer claimant information could be broken up into groups</li>
        <li>Version with current key detail bar, and a list of important information</li>
        <li>Ability to update the phone number on any referral detail screen</li>
        <li>Contains the ability to add new phone number when user clicks 'change' on the referral detail screen</li>
        <li>Contains the ability to save new information when user clicks 'save' on the update phone number page</li>
        <li>Change pattern for grouped data items and single change option <a href="richer-claimant-info/v2/list-4">in assigned cases</a></li>
        <li>Notifications banner pattern when single or group change pattern used</li>
      </ul>

      <a href="richer-claimant-info/v2/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>





      <h2 class="govuk-heading-m">v3</h2>
      <p>This prototype looks at how display richer claimant information with the new key detail bar and markers</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Shows how richer claimant information could be broken up into groups</li>
        <li>Version with new key detail bar</li>
        <li>Ability to update the phone number on any referral detail screen</li>
        <li>Contains the ability to add new phone number when user clicks 'change' on the referral detail screen</li>
        <li>Contains the ability to save new information when user clicks 'save' on the update phone number page</li>
      </ul>

      <a href="richer-claimant-info/v3/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>





  <h2 class="govuk-heading-m">v4</h2>
     <ul class="govuk-list govuk-list--bullet">
        <li>Iterations from v2 testing</li>
        <li>Some parts of new nav, black header bar, side links </li>
        <li>Alternative formats and reasonable adjustments updated</li>
        <li>Add and add another pattern inside referral</li>
        <li>Important info part of case details</li>
      </ul>


   <p>
      <a href="richer-claimant-info/v4/pip-case-details" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>





      <h2 class="govuk-heading-m">v5</h2>
      <ul class="govuk-list govuk-list--bullet">
         <li>Improvements from v4 testing</li>
         <li>First name and surname edit</li>
         <li>No email address for GP or specialists</li>
         <li>Representation relationship field removed</li>
         <li>Adress look up in all address areas</li>
         <li>International address input for medical specialists and representation</li>
         <li>UCB / PV code and control measures</li>

       </ul>

    <p>
       <a href="richer-claimant-info/v5/pip-case-details" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
         Start
         <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
           <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
         </svg>
       </a>





       <h2 class="govuk-heading-m">v6 (MVP changes)</h2>
      <ul class="govuk-list govuk-list--bullet">

          <li>UCB, Yes / No only, no marker or control measures</li>
          <li>Contact preferences: SMS option added</li>
          <li> Representation renamed to Appointee</li>
        </ul>


        <a href="richer-claimant-info/v6/pip-case-details" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
          Start
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>



        <br/>
        <br/>



        <h2 class="govuk-heading-m">v7 (MVP changes)<br>Vision target state prototype for claimant data</h2>
       <ul class="govuk-list govuk-list--bullet">

           <li>Additional work on remove functionality</li>
           <li>Includes pause pages for removing information from claimant info</li>
         </ul>


         <a href="richer-claimant-info/v7/pip-case-details" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
           Start
           <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
             <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
           </svg>
         </a>

        <h2 class="govuk-heading-m">Other</h2>

        <p><a href="richer-claimant-info/active-measures/referral-active-measures">Claimant with active measures</a></p>



        <br/>
        <br/>



        <h2 class="govuk-heading-m">v7.1 (May 2023):<br>Vision target state prototype for claimant data</h2>


       <ul class="govuk-list govuk-list--bullet">

           <li>Reinstated GP and medical specialist email address. <a href="https://dwpdigital.atlassian.net/browse/HTC-2333" target="_blank">See Jira ticket 2333 for more details</a></li> 
           <li>Following a review of multiple claimant data prototypes, a number of inconsistencies were identified. These inconsistencies have now been resolved and updated in this version of the prototype. <a href="https://dwpdigital.atlassian.net/browse/HTC-2489" target="_blank">See Jira tickets for more detail</a> </li>
          </ul>


         <a href="richer-claimant-info/v7-1/pip-case-details" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
           Start
           <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
             <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
           </svg>
         </a>


        <br/>
        <br/>



        <h2 class="govuk-heading-m">v8 (October 2023)</h2>
        <ul class="govuk-list govuk-list--bullet">
 
            <li>Updated claimant details page</li>
            <li><a href="richer-claimant-info/v8/pip-claimant-detail-mental-health">Mental health scenario</a></li>
          </ul>
 
 
          <a href="richer-claimant-info/v8/pip-case-details" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
            Start
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>


          <br/>
          <br/>



          <h2 class="govuk-heading-m">v9 (December 2023):<br> Change of address, outside of HAS post code</h2>
          <p class="govuk-body">Content tested in UR.</p>
          <b></b>  
          <p class="govuk-body">Note: 'Scenario 2 HCP review' will not be in use as the notification will need to be displayed at the point when the HCP selects 'face-to-face' assessment and that is not part of Chaffinch's workflow. However discussions have been had with the team responsible and they will be working on that.</p>

          <p class="govuk-body">Interruption page:</p>
          <ul class="govuk-list govuk-list--bullet">
         
              <li><a href="richer-claimant-info/v9/sc1-questionnaire/pip-claimant-detail"> Scenario 1 </a> <br>Awaiting questionnaire, Questionnaire reminder sent, Questionnaire not returned (WCA) </li>
             <br> <li><a href="richer-claimant-info/v9/sc2-hcp-review/pip-claimant-detail"> Scenario 2 </a><br> HCP review </li> (Do not use)
             
            </ul>


            <p class="govuk-body">Notifcation banner:</p>
            <ul class="govuk-list govuk-list--bullet">
           
                
                <li><a href="richer-claimant-info/v9/sc3-medical-evidence/pip-claimant-detail"> Scenario 3 </a> <br>Request medical evidence, Awaiting medical evidence (PIP)</li>
                <li><a href="richer-claimant-info/v9/sc4-assessment-booked/pip-claimant-detail"> Scenario 4 </a> <br>Assessment booked (PIP)</li>
              </ul>


              <br/>
              <br/>
    


              <h2 class="govuk-heading-m">v9.1 (January 2024):<br> Change of address, outside of HAS post code</h2>
              <p class="govuk-body">Content reviewed and updated post UR</p>
    
              <p class="govuk-body">Interruption page:</p>
              <ul class="govuk-list govuk-list--bullet">
             
                  <li><a href="richer-claimant-info/v9-1/sc1-questionnaire/pip-claimant-detail"> Scenario 1 </a> <br>Awaiting questionnaire, Questionnaire reminder sent, Questionnaire not returned (WCA) </li>
                 <br> <li><a href="richer-claimant-info/v9-1/sc2-hcp-review/pip-claimant-detail"> Scenario 2 </a><br> HCP review </li> (Do not use)
                 
                </ul>
    
    
                <p class="govuk-body">Notifcation banner:</p>
                <ul class="govuk-list govuk-list--bullet">
               
                    
                    <li><a href="richer-claimant-info/v9-1/sc3-medical-evidence/pip-claimant-detail"> Scenario 3 </a> <br>Request medical evidence, Awaiting medical evidence (PIP)</li>
                    <li><a href="richer-claimant-info/v9-1/sc4-assessment-booked/pip-claimant-detail"> Scenario 4 </a> <br>Assessment booked (PIP)</li>
                  </ul>

              
              
                  <br/>
                  <br/>
        


                <h2 class="govuk-heading-m">v9.2 (Mar 2024):<br> Change of address, outside of HAS post code</h2>
                <p class="govuk-body">New success banner design for the 3 scenarios. Key changes to the banners include:</p>
      
                <ul class="govuk-list govuk-list--bullet">

                  <li>Success banner spanning full width and positioned at the top of the page</li>
                  <li>Reduced information in the banner by using 'Residential address updated' as the main banner heading</li>
                  <li>Grouped the CTA and warning information together, and making the CTA bold</li>
                  <li>Highlighted part of the CTA as a blue link</li>

                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">Scenarios:</p>
                <ul class="govuk-list govuk-list--bullet">
               
            
                  <ul class="govuk-list govuk-list--bullet">
                 
                      <li><a href="richer-claimant-info/v9-2/sc1-questionnaire/pip-claimant-detail"> Scenario 1 </a> <br>Awaiting questionnaire, Questionnaire reminder sent, Questionnaire not returned (WCA) </li>
                      <li><a href="richer-claimant-info/v9-2/sc3-medical-evidence/pip-claimant-detail"> Scenario 3 </a> <br>Request medical evidence, Awaiting medical evidence (PIP)</li>
                      <li><a href="richer-claimant-info/v9-2/sc4-assessment-booked/pip-claimant-detail"> Scenario 4 </a> <br>Assessment booked (PIP)</li>
                    </ul>
  
                

                  <br/>
                  <br/>
        
        

              <h2 class="govuk-heading-m">v10 (December 2023):<br> Version without left-hand nav to reflect live</h2>

              <a href="richer-claimant-info/v10/pip-claimant-detail" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
                Start
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
              </a>


              <br/>
              <br/>
    
    
              <h2 class="govuk-heading-m">v11 (January 2024):<br>Chevrons removed from left hand nav</h2>
              
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="richer-claimant-info/v11/pip-case-details.html">PIP referral</a></li>
            <li><a href="richer-claimant-info/v11/wca-case-details.html">WCA referral</a></li>
          </ul>

         
          <br/>
          <br/>


       <h2 class="govuk-heading-m">v12 (Mar 2024):<br>Incorporating an associated 'Referral type date' to new referral types<br><br>Reflection of live as of Mar 2024</h2>
        
       <ul class="govuk-list govuk-list--bullet">

          <li><a href="https://dwpdigital.atlassian.net/browse/HTC-2332" target="_blank">See Jira task 2332 for more details (opens in new tab)</a></li>
          <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1664879570712/2be8383553d2a24bf6a251a19d174268a273fcdd?wid=0-1710349711402" target="_blank">See Mural board for more details (opens in new tab)</a></li>
          <li>Rearranged fields on referral details page to reflect live environment</li>
          <li>Incorporated 'End of award date' for "Award review' referral type</li>
          
       </ul>

       <a href="richer-claimant-info/v12/pip-case-details.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
          Start
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
       </a>


 

     
   
   
           



    <!--  <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Archive
          </span>
        </summary>
        <div class="govuk-details__text">

          <h2 class="govuk-heading-m"><a href="#" aria-describedby="Achived-prototype-1">Archive </a></h2>
          <ul>
            <li>Up to date referral page information that reflects live</li>
            <li>Link under referral details</li>
          </ul>

        </div>
      </details> -->

    </div>
  </div>
{% endblock %}
