{% extends "layout.html" %}

{% block pageTitle %}
  Referral State Model Prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Tactical Status Alignment
      </h1>

      <p><a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/132694343882/Status+Alignment+Q4+2021+Q1+2022" role="button" draggable="false" aria-describedby="miro-link">Status alignment Confluence documentation</a></p>


      <h2 class="govuk-heading-m">Version 1</h2>

      <p>This prototype looks at status alignment to match the tracker in the HTA, to reduce cognitive load on the users. It allows a user to do the following: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Update status, but with a status set that matches the tracker</li>
        <li>filter by new selection of statuses</li>
        <li>View new statuses on caseload without the coloured tag</li>
        <li>Entry into the update status page is by find a claimant (no name or NINO required, just hit search. Or the top record in any caseload (status lists don't work)</li>
      </ul>

      <a href="status-alignment/v1/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start V1
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>     

      <h2 class="govuk-heading-m">Version 2</h2>

      <p>This prototype looks at status alignment to match the tracker in the HTA, but has an additional content review to remove abbreviations It allows a user to do the following: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Update status, but with a status set that removes abbreviations</li>
        <li>filter by new selection of statuses</li>
        <li>View new statuses on caseload without the coloured tag</li>
        <li>Entry into the update status page is by find a claimant (no name or NINO required, just hit search. Or the top record in any caseload (status lists don't work)</li>
      </ul>

      <a href="status-alignment/v2/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start V2
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>  
      
      <h2 class="govuk-heading-m">Version 3</h2>

      <p>This prototype looks at status alignment to match the tracker in the HTA, but has an additional content review to remove abbreviations and split the statuses dependent on benefit type. It allows a user to do the following: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Update status, but with a status set that removes abbreviations and only shows the statuses relevant to that particular benefit</li>
        <li>filter by new selection of statuses</li>
        <li>View new statuses on caseload without the coloured tag</li>
        <li>Entry into the update status page is by find a claimant (no name or NINO required, just hit search. Or the top record in any caseload (status lists don't work)</li>
      </ul>

      <a href="status-alignment/v3/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start V3
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>  

      <h2 class="govuk-heading-m">Version 4</h2>

      <p>This prototype looks at status alignment to match the tracker in the HTA, but has an additional content review to remove abbreviations and split the statuses dependent on benefit type. It allows a user to do the following: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Update status, but with a status set that removes abbreviations and only shows the statuses relevant to that particular benefit (seperate update status page for both PIP and WCA)</li>
        <li>filter by new finalised election of statuses</li>
        <li>View new statuses on caseload without the coloured tag</li>
        <li>Referral date added back into prototype</li>
        <li>Entry into the update status page is by find a claimant (no name or NINO required, just hit search. Or the top record in any caseload (status lists don't work)</li>
      </ul>

      <a href="status-alignment/v4/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start V4
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>  

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Archive
          </span>
        </summary>
        <div class="govuk-details__text">

          <h2 class="govuk-heading-m"><a href="status-alignment/archive/v1/" aria-describedby="Achived-prototype-1">Achived prototype 1</a></h2>
          <p>Update status, but with headings to help convey status set</p>
          <p>filter by new selection of statuses</p>
          <p>View new statuses on caseload without the coloured tag</p>

        </div>
      </details>

    </div>
  </div>
{% endblock %}
