{% extends "layout.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}


<div class="app-pane__body">

<div class="app-pane__subnav">
  <nav class="app-subnav" aria-labelledby="app-subnav-heading">
    <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claimant-overview">Overview</a>
      </li>
      <li class="app-subnav__section-item app-subnav__section-item--current">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Claimant details</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="claimant-timeline">Timeline</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Appointments</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Evidence</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="case-history">Case history</a>
      </li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row overview">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-visually-hidden">Full list of claimant information</h1>

      <section class="new-key-details-bar" role="identifier" aria-label="Claimant name and identifier">
        <dl class="new-key-details-bar__key-details">
          <div class="new-key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="new-key-details-bar__name">Jane Doe</dd>
      
            <dt class="govuk-visually-hidden">National Insurance number:</dt>
            <dd class="new-key-details-bar__nino">RN 00 04 26 D</dd>
      
          </div>
      
          <div class="new-key-details-bar__bottom-block">
            <dt class="govuk-visually-hidden">Claimant markers:</dt>
            <dd>
              <strong class="govuk-tag govuk-tag--purple">Terminally ill</strong>
              <!-- <strong class="govuk-tag govuk-tag--yellow">Additional support</strong> -->
              <strong class="govuk-tag govuk-tag--green">Appointee</strong>
              <strong class="govuk-tag govuk-tag--blue">Dual claim</strong>
              <!-- <strong class="govuk-tag govuk-tag--pink">Unacceptable behaviour</strong> -->
              <!-- <strong class="govuk-tag govuk-tag--red">Deceased</strong> -->
            </dd>
          </div>
        </dl>
      </section>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Claimant details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred name
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07799 000000
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              N2 6SU
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SRTI
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>

      </div>

    </div>
  </div>
</div>
{% endblock %}
